.colMain {
	float:      left;
	overflow:   auto;
	max-height: 100vh;
	min-height: 100vh;
	width:      W_BODY;
	left:       W_TABS;
}

/* ******************************************************** */
/* horizontal panels */
/* ******************************************************** */
.horMenu {
	z-index: 99;
	float: top;

#	background-color: grey;
	background-image: url("img/banner.png");
	background-size: cover;

	height: H_MENU;
	width:  100%;

	overflow: visible;
	border: 0px solid navy;

	color: FC_MENU;
}

.modBody {
	float:    top;
	overflow: auto;
	height:   calc(100vh - H_MENU);
	width:    100%;

	background: BC_BODY;
}

.joker {
	float:      top;
	display:    none;
	padding:    0px 15px;
	height:     25px;
	width:      100vw;
	background: BC_TABS;
}

/* ******************************************************** */
/* vertical panels */
/* ******************************************************** */
.modTabs {
	float:      left;
	width:      W_TABS;
	height:     100vh;
	background: BC_PAGE url("LOC_IMG/tabs/pborder.png") repeat-y right;
}

.modBord {
 	float:      left;
 	min-width:  10px;
	height:     100vh;
	background: BC_OPTS url("LOC_IMG/opts/pborder.png") repeat-y;
}

.modOpts {
	float:    left;
	height:   100vh;
	width:    calc(100vw - W_TABS - W_BODY - 10px);
	left:     calc(W_TABS + W_BODY);
	top:      0px;
}
