@media only screen and (max-width: 1125px) {

	html {
		transform: scale(0.95);
		transform-origin: top left;
		height: 100vh;
	}
	.banner {  position: absolute; }
	.modMenu { position: absolute; }

	.modToc {
		width: 250px;
	}
	.modToc:hover {
		border-right: 1px solid grey;
		width: 650px;
		z-index: 500;
	}

	.modMbar {
		left: calc(W_TABS + 250px);
	}
	.modBody {
		left: calc(W_TABS + 250px + W_MBAR);
	}
	.modOpts {
		left: calc(W_TABS + 250px + W_MBAR + W_BODY);
		width: calc(100% - W_TABS - 250px - W_MBAR - W_BODY);
	}
}

@media only screen and (max-width: 1025px) {
#	html { transform: scale(0.85); height: calc(100% / 0.85); }
}
@media only screen and (max-width: 925px) {
#	html { transform: scale(0.78); height: calc(100% / 0.78); }
}
@media only screen and (max-width: 825px) {
#	html { transform: scale(0.65); height: calc(100% / 0.65); }
}
@media only screen and (max-width: 725px) {
#	html { transform: scale(0.55); height: calc(100% / 0.55); }
}
@media only screen and (max-width: 625px) {
#	html { transform: scale(0.50); height: calc(100% / 0.50); }
}
