@media only screen and (max-width: 1300px) {

	html {
		transform: scale(0.95);
		transform-origin: top left;
		height: 100vh;
	}
	.banner {  position: absolute; }
	.modMenu { position: absolute; }

	.modToc {
		display: none;
	}

	.modMbar {
		display: none;
	}
	.modBody {
		left: W_TABS;
		width: W_BODY;
	}
	.modOpts {
		left: calc(W_TABS + W_BODY);
		width: calc(100% W_TABS - W_BODY);
	}
}
