@charset "UTF-8";

/* ******************************************************** */
/* css default */
/* ******************************************************** */
html {
	background: BC_BODY;
	height: 100vh;
}

body {
	position: relative;
	height: 100vh;

	font: F_SIZE normal normal Arial, DejaVu Sans;
	color: FC_BODY;
	background: BC_BODY no-repeat right top;

	margin: 0px;
	padding: 0px;
	border: 0px;
}
body.print {
	width: 950px;
	max-width: 950px; /* A4 */
	margin: 25px 20px 35px;
}

/* ******************************************************** */
/* panels */
/* ******************************************************** */
.modTabs {
	overflow: hidden;
	color: FC_TABS;
	background: BC_TABS url("LOC_IMG/tabs/pborder.png") repeat-y right;
	width: W_TABS;
	padding: 7px 0px 20px;
}

.modToc {
	overflow: auto;
	color: FC_TOC;
	background: BC_TOC;
	width: W_TOC;
	padding: 15px 15px 35px;
}

.modMbar {
	overflow: hidden;
	background: url("LOC_IMG/mbar/spirals.png") repeat-y;
	width: W_MBAR;
}

.modBody {
	font-size: F_BODY;
	color: FC_BODY;
	width: W_BODY;
	padding: 15px 15px 35px;

	background: BC_BODY url("LOC_IMG/opts/pborder.png") repeat-y right;
}
.modOpts {
	overflow: auto;
	color: FC_OPTS;
	background: BC_OPTS;

	width: calc(100vw - W_TABS - W_MBAR - W_BODY);
	padding: 0px 25px 15px 35px;
}
