/* ******************************************************** */
/* panels */
/* ******************************************************** */
.modTabs {
	overflow: hidden;
	color: FC_TABS;
	background: BC_TABS url("LOC_IMG/tabs/pborder.png") repeat-y right;
	width: W_TABS;
	padding: 7px 0px 20px;
}

.modToc {
	overflow: auto;
	color: FC_TOC;
	background: BC_TOC;
	width: W_TOC;
	height: 1vh;
	padding: 1rem 15px 35px;
}

.modMbar {
	overflow: hidden;
	background: url("LOC_IMG/mbar/spirals.png") repeat-y;
	width: W_MBAR;
}

.modOpts {
	overflow: auto;
	color: FC_OPTS;
	background: BC_OPTS;

	width: calc(100% - W_TABS - W_MBAR - W_BODY);
	padding: 0px 25px 15px 35px;
}
