/* STATIC FILE for CK4 only: design/ck4.css /*

@charset "UTF-8";

/* ******************************************************** */
/* css default */
/* ******************************************************** */
html {
 	background: BC_OPTS;
	height: 100%;
}

body {
	overflow: auto;
	position: relative;
	height: 100%;

	hyphens: auto;
	font: F_SIZE normal normal Arial, DejaVu Sans;
	color: FC_BODY;
	background: BC_BODY no-repeat right top;

	margin: 0px;
	padding: 0px;
	border: 0px;
}
body.print {
	margin: 25px 20px 75px;
	width: 100%;
}

/* ******************************************************** */
/* container */
/* ******************************************************** */
.container {
	background: transparent;
	padding: 0px 20px 35px;
#	overflow: visible;
}

.conToc  { padding: 15px 15px 35px }
.conOpts { padding: 0px 35px 35px; }

/* ******************************************************** */
/* vertical panels */
/* ******************************************************** */
.modTabs {
	overflow: visible;
	position: fixed;
	height: 100%;
    width: W_TABS;

    color: FC_TABS;
    background: BC_DROP url("/cms/img/tabs/pborder.png") repeat-y right;
}

.modToc {
	overflow: auto;
	position: fixed;
	left: W_TABS;
    width: W_TOC;
	height: 100%;

	color: FC_TOC;
	background: BC_TOC;
}

.modMbar {
	overflow: hidden;
	position: fixed;
	left: calc(W_TABS + W_TOC);
    width: W_MBAR;
	height: 100%;

    background: url("/cms/img/mbar/spirals.png") repeat-y;
}

.modBody {
	z-index: 5;
	overflow: auto;
	position: fixed;
	left: calc(W_TABS + W_TOC + W_MBAR);
	width: W_BODY;
	height: 100%;

	font-size: F_BODY;
	color: FC_BODY;
    background: BC_BODY;
}
.modOpts {
	z-index: 1;
	overflow: auto;
	position: fixed;
	left: calc(W_TABS + W_TOC + W_MBAR + W_BODY);
    width: calc(100% - W_TABS - W_TOC - W_MBAR - W_BODY);
    min-width: 300px;
	height: 100%;

	color: FC_OPTS;
    background: BC_OPTS url("/cms/img/opts/pborder.png") repeat-y;
}
/* ******************************************************** */
/* standard tags */
/* ******************************************************** */
h1, h2, h3, h4, h5, h6 {
	margin: 15px 0px 7px;
	color: FC_HEAD;
}
h4, hx {
	border-bottom: 1px solid;
}
h5, h6, hy {
	margin: 5px 0px 3px;

	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	text-decoration: underline;
}

hx, hy {
	display: block;
	font-size: 1em;
	color: FC_BODY;
	margin-bottom: 5px;
}

.modtoc > h3 {
	margin-top: 0px;
}

p {
	margin: 3px 0px 7px;
	text-align: justify;
}
b {
    font-weight: bold;
}

div.flex {
	display: flex;
	justify-content: space-between;
}

div.flexleft {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

/* ******************************************************** */
/* separators */
/* ******************************************************** */
hr.pbr {
	background-color: transparent;
	border-top: 1px dashed red;
}

hr.search {
	background-color: transparent;
	border-top: 2px solid red;
#	border-bottom: 2px solid maroon;
}

/* ******************************************************** */
/* images */
/* ******************************************************** */
img {
	margin: 0px;
	border: 0px;
	vertical-align: middle;
}
img.flag {
	border: 1px solid OUTLINE;
	border-radius: 5px;
}
img.rgt {
	text-align: right;
	padding-left: 25px;
}
img.lft {
	text-align: left;
	padding-right: 15px;
}

.view {
	width: 100%;
}

.thumb {
	display: inline-block;
	margin: 0px 5px 3px;
	width: 110px;
}

/* ******************************************************** */
/* anchors */
/* ******************************************************** */
a {
	color: FC_LINK;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
#	color: #9FC700;
}

a.inactive {
	color: FC_DEAD;
	background: BC_DEAD;
	font-weight: normal;
}

a.norm {
	color: FC_BODY;
	text-decoration: none;
	font-weight: normal;
}

/* ******************************************************** */
/* sup sub */
/* ******************************************************** */
sup, sub {
	font-size: 0.6em;
}

hr {
	border: 0px;
	padding: 0px;
	height: 1px;
	background: OUTLINE;
}
hr.low {
	margin: 2px 0px 3px;
}

abbr {
	margin: 0px;
	padding: 0px;
	color: FC_HINT;
	background: BC_HINT;
}

/* ******************************************************** */
/* other */
/* ******************************************************** */
details {
	display: inline-block;
	cursor: pointer;
}
details-content {
	display: inline-block;
	margin: 0px 18px;
	padding: 3px 10px 5px;
	border: 1px solid OUTLINE;
	border-radius: 7px;
}
/* ******************************************************** */
/* editor styles */
/* ******************************************************** */
[contenteditable] {
	outline: 0px solid transparent;
}

.tarea {
	display: block;
	position: relative;
	width: calc(100% - 10px);
}
.filename {
	text-align: right;
	margin-right: 7px;
	padding: 0px 12px 1px;
	min-width: 350px;
}

.hidden {
	display: none;
}

/* ******************************************************** */
/* preview window and frame */
/* ******************************************************** */
.cold {
	overflow: auto;
	border: 1px solid OUTLINE;
	border-radius: 15px;
	padding: 7px 15px 25px;
	min-height: 25px;
	max-height: 500px;
}
.hot {
	overflow: auto;
	border: 1px solid red;
	border-radius: 15px;
	padding: 7px 15px 25px;
	min-height: 25px;
	max-height: 500px;
}

.edit {
	overflow: none;
	border: 0px;
}

.frmPreview {
	display: block;
	border: 0px;
	width: 100%;
	height: 450px;
}
/* ******************************************************** */
/* images */
/* ******************************************************** */
img {
	margin: 0px;
	border: 0px;
	vertical-align: middle;
}
img.flag {
	border: 1px solid OUTLINE;
	border-radius: 5px;
}
img.rgt {
	text-align: right;
	padding-left: 25px;
}
img.lft {
	text-align: left;
	padding-right: 15px;
}

.thumb {
	display: inline-block;
	margin: 0px 5px 3px;
	width: 110px;
}
/* ******************************************************** */
/* labels */
/* ******************************************************** */
label {
	padding: 2px 10px 2px 7px;
	background: linear-gradient(snow, lightgrey);
	border: 1px solid OUTLINE;
	border-radius: 5px;
}

label.text {
	background: transparent none;
	border: 0px;
}
label.tr {
	padding: 2px 3px;
	background: transparent none;
	border: 0px;
	vertical-align: top;
}

label.red {
	background: #FFC0CB none;
	border: 1px solid OUTLINE;
	cursor: pointer;
}
label.blue {
	background: #D2EDEF none;
	border: 1px solid OUTLINE;
	cursor: pointer;
}
label.mauve {
	background: #EBD2EB none;
	border: 1px solid OUTLINE;
	cursor: pointer;
}
label.upload {
	display: inline-block;
	color: #fff;
	background: #5cb85c none;
	border: 1px solid OUTLINE;

	margin: -1px 0px 0px;
	padding: 2px 12px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 5px;
	width: 300px;
}
/* ******************************************************** */
/* listings */
/* ******************************************************** */
ul, ol {
	list-style-position: outside;
	margin: 7px 0px 12px;
	padding: 0px 15px;
}
ol {
	padding: 0px 20px;
}

[draggable] {
	background: linear-gradient(snow, lightgrey);
	margin: 2px 0px;
	padding: 3px 15px 3px 7px;
	border: 1px solid OUTLINE;
	border-radius: 7px;
	list-style: none;
	user-select: none;
}

/* ******************************************************** */
dl {
	display: block;
	border: 1px solid OUTLINE;
	border-radius: 10px;

	margin: 7px 0px 12px;
	padding: 7px 15px 10px;
}
dt {
    font-style: italic;
	color: FC_HEAD;
}
dd {
    margin: 0px 15px 5px;
}
table {
	font-size: 1em;
	font-weight: normal;
	padding: 0px;
	margin: 0px 0px 12px;
	border: 0px;
	border-spacing: 0px;
    border-collapse: collapse;
}

.fullwidth {
	background: BC_TBACK;
	max-width: W_BODY;
	overflow: auto;
}

table.navi {
	margin: 0px;
}


/* ******************************************************** */
/* rows */
/* ******************************************************** */
tr {
	vertical-align: top;
}

.rh {
	color: FC_THEAD;
	background: BC_THEAD;
	vertical-align: middle;
	font-weight: bold;
	padding: 3px 5px 1px;
}

.rw                 { color: FC_TEVEN; background: BC_TEVEN; }
.rw:nth-child(odd)  { color: FC_TODD;  background: BC_TODD;  }
.rw:hover           { color: FC_TMARK; background: BC_TMARK; }

.rf {
	color: FC_TFOOT;
	background: BC_TFOOT;
	vertical-align: middle;
}

/* ******************************************************** */
/* cells */
/* ******************************************************** */
th {
	color: FC_THEAD;
	background: BC_THEAD;
	padding: 3px 5px 1px;
}

td {
	margin: 0px;
	padding: 0px 5px;
}
.pre {
	white-space: pre;
	font-family: monospace;
	font-size: 1em;
}

.nopad {
	padding: 0px;
}
/* ******************************************************** */
/* simple color tags */
/* ******************************************************** */
white	{ color: white;	 }
light	{ color: lightgrey;	}
grey	{ color: grey;   }
black	{ color: black;  }

red     { color: red;	 }
green	{ color: green;	 }
blue	{ color: navy;	 }
mauve	{ color: purple; }
maroon	{ color: maroon; }

tpl {
	display: inline-block;
	color: OUTLINE;
	cursor: pointer;
}

small {
	font-size: 0.75em;
}

blockquote {
	margin: 3px 0px 12px;
	border: 1px solid OUTLINE;
	border-radius: 7px;
	padding: 5px 10px;
}

dfn {
	color: purple;
}

caps {
	font-variant: small-caps;
}

kbd {
	display: inline-block;
	background: #EEE;
	border: 1px solid black;
	text-align: center;
	border-radius: 7px;
	padding: 1px 5px;
	min-width: 12px;
	font-size: 0.75em;
}
fnote {
	color: green;
	display: inline-block;
	text-align: center;
}

mark, mark1, mark2, mark3, mark4, mark5 {
#	background: BC_MARK;
	border: 1px solid orange;
	border-radius: 7px;
	padding: 0px 5px;
}
markp {
	background: yellow;
	border: 0px;
	padding: 0px 5px;
}
mark1 { background: yellow;  }
mark2 { background: #FFE100; }
mark3 { background: #E3FF00; }
mark4 { background: #D5F7F7; }
mark5 { background: #F7D8F7; }

.pre {
	overflow: auto;
	font-family: Monospace;
	font-size: 0.75em;
	white-space: pre;
	max-height: 150px;
}
/* ******************************************************** */
/* lookup info */
/* ******************************************************** */
refbox {
	position: relative;
	display: inline-block;
	color: FC_HEAD;
	text-decoration: underline dotted;
}
refbox:hover refbox-content {
	display: block;
}

refbox-content {
	z-index: 99;
	position: absolute;
	display: none;
	white-space: pre-wrap;
	text-align: left;
	overflow: auto;

	width: 275px;

	color: FC_HINT;
	background: BC_HINT;
	font-weight: normal;
	font-style: normal;
	padding: 5px 10px 7px;
	border: 1px solid OUTLINE;
	border-radius: 12px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
}

refbox-content p {
	text-align: left;
}

/* ******************************************************** */
/* help symbol */
/* ******************************************************** */
.helpbox {
	display: inline-block;
	position: relative;
	margin: -45px -7px 0px 0px;
	float: right;
	right: 0px;
}
.helpbox:hover .helpbox-content {
	display: block;
}

.helpbox-button {
	position: absolute;
	display: inline-block;
	white-space: pre-wrap;
	float: right;
	right: 0px;
	border: 0px;
}
.helpbox-content {
	z-index: 30;
	position: fixed;
	right: 20px;
	display: none;
	color: FC_HINT;
	background: BC_HINT;
	padding: 10px 10px 3px;
	border: 1px solid OUTLINE;
	border-radius: 7px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	margin-top: 20px;
	min-width: 575px;
	padding: 25px;
}

/* ******************************************************** */
/* help symbol */
/* ******************************************************** */
.readme {
	display: inline-block;
}
.readme:hover .readme-content {
	display: block;
}
.readme-button {
	display: inline-block;
	color: FC_BODY;
	background: BC_BODY;
	border: 1px solid OUTLINE;
	width: 25px;
	text-align: center;
	font-weight: bold;
	line-height: 24px;
	border-radius: 50%;
}
.readme-content {
	position: fixed;
	right: 50px;
	display: none;
	z-index: 30;
	color: FC_HINT;
	background: BC_HINT;
	border: 1px solid OUTLINE;
	border-radius: 7px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	width: calc(W_BODY - 200px);
	margin: 3px 0px 0px;
	padding: 3px 15px 0px;
	text-align: left;
}
/* ******************************************************** */
/* debugging, error tracing, help messages */
/* ******************************************************** */
dbg, err, msg, code, php, .confirm {
	z-index: 85;
	color: FC_PAGE;
	background: BC_PAGE;

    vertical-align: middle;
	display: inline-block;
	max-width: W_BODY;

	border: 1px solid OUTLINE;
	border-radius: 10px;
	margin: 0px;
	padding: 2px 7px 3px;
}
php, code, dbg {
	font-family: monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
}

dbg  { color: FC_WARN; }
msg  { color: FC_MSG;  background: BC_MSG;  }
err  { color: FC_WARN; background: BC_WARN; }
hint { color: FC_DEAD; background: BC_DEAD; font-size: 0.85em; font-style: normal; }

code {
	display: block;
	overflow: auto;
}

msg > ul {
	margin: 0px;
}

/* ******************************************************** */
.confirm {
	padding: 5px 12px 8px;
	display: block;
	border: 0px;
}

/* ******************************************************** */
/* err handling */
/* ******************************************************** */
trace {
	background: transparent;
	border: 0px;
	padding: 0px;
	font-size: 0.85em;
}

.err1 {
	background: BC_BODY;
	border: 0px;
	margin: 5px -6px 3px;
	padding: 5px 6px 2px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-family: monospace;
	font-size: 0.75em;
	color: FC_DEAD;
}

/* ******************************************************** */
/* info-button */
/* ******************************************************** */
.info {
	display: inline-block;
	color: FC_TOC;
	background: BC_BODY;
	border: 1px solid OUTLINE;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
}
/* ******************************************************** */
/* teaser banner */
/* ******************************************************** */
.teaser {
	width: 100%;
	height: 100px;
	margin: auto;
	overflow: hidden;
	background: BC_OPTS;
	border-radius: 15px;
	text-align: center;
}

.fader {
	position: relative;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.fader img {
	vertical-align: middle;
	width: 1080px;
	padding: 0px;
	margin: 0px;
	margin-top: -25%;
}
.fader_x img.next {
	position: absolute;
	top: 0;
	left: 0;
}


/* ******************************************************** */
/* tooltips */
/* ******************************************************** */
.tooltip {
	z-index: 55;
	position: relative;
	display: inline-block;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.dropdown:hover .tooltiptext {
	visibility: visible;
}

.tooltipbox {
	display: block;
}

.tooltiptext {
	z-index: 55;
	position: absolute;
	visibility: hidden;

	white-space: pre;
	font-family: Monospace;

	color: FC_DROP;
	background: BC_DROP;
	text-align: left;

	padding: 7px 15px 12px;
	border: 1px solid OUTLINE;
	border-radius: 10px;
	left: 10px;
	top: 105%;

	min-width: 350px;
}

/* ******************************************************** */
/* tutorial */
/* ******************************************************** */
.tuthed {
	color: white;
	background-color: cadetblue;
	padding: 5px 7px 3px;

	margin-bottom: 3px;
	font-weight: bold;
	border-radius: 7px;
}
.tutinf {
	margin-bottom: 5px;
}
form {
	margin: 2px 0px 7px;
}

form table {
	margin: 0px;
}

/* ******************************************************** */
/* input fields */
/* ******************************************************** */
input {
	line-height: 22px;
	color: FC_INPUT;
	background: BC_INPUT;
	padding: 0px 5px;
	border: 1px solid OUTLINE;
	border-radius: 5px;
	font-size: 14px;
	overflow: auto;
}

input[type='color'] {
	background: transparent;
	padding: 0px;
	border: 0px;
	max-height: 24px;
}

input[type='text'] {
	height: 24px;
}

input[type='file'] {}

input[type='checkbox'] {
	display: inline-block;
	margin: 0px 3px 0px 0px;
	vertical-align: middle;
}
.cb { /* needed for js (toggling) */
	vertical-align: middle;
	padding: 0px 10px 1px 5px;
}

input[type='datetime-local'] { /* date input */
	padding: 1px;
}

input[type='color'] { /* color input */
	margin: 1px 0px 3px;
}

/* ******************************************************** */
/* buttons */
/* ******************************************************** */
input[type='submit'] {
	background: linear-gradient(snow, lightgrey);
	padding: 0px 15px;
	cursor: pointer;
}

input[type='button'], button, button.icon {
	background: linear-gradient(snow, lightgrey);
	border: 1px solid OUTLINE;
	border-radius: 5px;
	padding: 3px 9px;
#	vertical-align: middle;
	height: 24px;
	cursor: pointer;
	min-width: 40px;
}

/* ******************************************************** */
/* combo boxes */
/* ******************************************************** */
select {
	background: BC_DROP url("/cms/core/icons/input/combodown.png") no-repeat right;

	vertical-align: middle;
	font-weight: normal;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	border: 1px solid OUTLINE;
	border-radius: 5px;
#	outline: none;

	margin: 0px;
	padding: 0px 15px 0px 5px;
	min-width: 105px;
	height: 24px;

    cursor: pointer;
}
select::after {
	content: "▾";
#	padding: 3px 7px 0px 0px;
}

option {
	line-height: 14px;
	max-height: 14px;
}

/* ******************************************************** */
/* textareas  */
/* ******************************************************** */
textarea {
	background: BC_BODY;
	max-width: calc(W_BODY - 10px);
	border: 1px solid OUTLINE;
	border-radius: 5px;
	padding: 5px 2px 5px 7px;

	overflow: auto;
}

/* ******************************************************** */
/* info */
/* ******************************************************** */
.comment { /* help text */
	display: inline-block;
	margin: 3px 0px 5px;
	padding: 0px 7px;
	vertical-align: middle;
	font-size: 0.85em;
}

.ronly { /* data */
	border: 1px solid cadetblue;
	border-radius: 5px;
	padding: 0px 5px;

	min-width: 150px;
	min-height: 22px;
	line-height: 22px;

	display: inline-block;
	vertical-align: middle;
	font-size: 0.9em;
}
/* ******************************************************** */
/* sections */
/* ******************************************************** */
.selSection {
	color: FC_HEAD;
	font-style: italic;
	vertical-align: bottom;

	padding-top: 12px;
}
.spacer {
	border: 0px;
}

/* ******************************************************** */
/* read only representation */
/* ******************************************************** */
.selHead {
	white-space: nowrap;
	padding: 2px 15px 3px 7px;
#	vertical-align: middle;
}
.selData {
	padding: 2px 0px 0px;
#	vertical-align: middle;
}

/* ******************************************************** */
/* ratings */
/* ******************************************************** */
.rating {
	width: 105px;
	border: 1px solid OUTLINE;
	border-radius: 5px;

    background: url("/cms/core/icons/input/rating.png") no-repeat top;
}
.ratImg {
	margin: 2px 0px;
	opacity: 100%;
}
/* ******************************************************** */
/* top navigation bar - with drop down content */
/* ******************************************************** */
.dropMenu, .localicon, .submenu {
	z-index: 150;
	display: block;

	color: FC_INFO;
	background: linear-gradient(-3deg, BC_MENU, BC_INFO 45%);
	border: 1px solid navy;
	border-width: 1px 0px;
	border-radius: 7px;

	font-weight: bold;
	padding: 3px 7px 1px;
	margin: 0px 0px 4px;
}

.submenu {
	color: FC_MARK;
	background: linear-gradient(-3deg, white, BC_MARK 45%);
	border: 1px solid OUTLINE;
	font-weight: normal;
	font-size: 0.85em;
}

.seemless {
}

/* ******************************************************** */
/* top navigation bar - with drop down content */
/* ******************************************************** */
.topmenu {
	z-index: 99;
	position: relative;

	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	background: BC_MENU;
	background: linear-gradient(-2deg, BC_INFO, BC_MENU 50%, BC_MENU, #4D7FB2);
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1.1em;
	font-weight: bold;
}

.topmenu a {
	color: FC_MENU;
}
.topmenu .active {
	color: FC_INFO;
	background: BC_INFO;
}

/* ******************************************************** */
.topmenu-item {
	display: inline-block;
}
.topmenu-item:hover .topmenu-content {
	display: block;
}

/* ******************************************************** */
.topmenu-button {
	display: inline-block;
	border: 0px;
	padding: 7px 20px;
	height: H_MENU;
    text-shadow: 1px 1px 2px grey;
#   border-radius: 10px 10px 0px 0px;
    margin-right: 5px;
}
.topmenu-button:hover{
	color: FC_INFO;
	background: BC_INFO;
}

/* ******************************************************** */
.topmenu-content {
	z-index: 99;
	position: fixed;
	display: none;
	color: FC_DROP;
	background: BC_DROP;
	font-weight: normal;
	border: 1px solid OUTLINE;
	border-radius: 0px 15px 15px 15px;
  	padding: 3px 10px 10px;
  	max-height: 400px;
  	overflow: auto;
}

.topmenu-content a {
	display: block;
	padding: 3px 10px;
	color: FC_BODY;
	font-size: 1.15em;
	font-weight: normal;
}

.topmenu-content a:hover {
	color: FC_MARK;
	background: BC_MARK;
}
/* ******************************************************** */
/* tool bars */
/* ******************************************************** */
.toolbar {
	z-index: 35;
	position: relative;
	margin: 0px 0px 3px;
	vertical-align: middle;
}

.btnbar {
	vertical-align: baseline;
	background: linear-gradient(-1deg, #A2EA31, forestgreen 70%);
	padding: 1px 6px 1px;
	border-radius: 5px;
}

/* ******************************************************** */
/* menu icon */
/* ******************************************************** */
.micon {
	display: none;
}

.ibar {
  width: 15px;
  height: 3px;
  background-color: FC_TOC;
  margin: 2px 0px 1px;
}

/* ******************************************************** */
/* buttons */
/* ******************************************************** */
button.icon {
	min-height: 25px;
	min-width: 30px;
	padding: 0px 7px;
}
button.rose, .rose {
	background: linear-gradient(#FCC, snow);
}

button.selected {
	background: linear-gradient(white, snow);
	font-weight: bold;
}

dmbtn {
	display: inline-block;
	color: FC_BODY;
	background: linear-gradient(snow, lightgrey);
	border: 1px solid OUTLINE;
	border-radius: 5px;
	text-align: center;
	min-width: 30px;
	line-height: 24px;
}
/* ******************************************************** */
/* dropdown menus and other dropdown objects */
/* ******************************************************** */
.dropdown {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.dropdown:hover .dropdown-content {
	z-index: 90;
	display: block;
}

/* ******************************************************** */
/* dropdown buttons */
/* ******************************************************** */
.dropdown-button {
	display: inline-block;
	border: 1px solid OUTLINE;
	margin: 0px 7px 0px 0px;
	padding: 0px 7px 0px 10px;
}

.dropdown-icon {
	border: 1px solid OUTLINE;
	border-radius: 5px;
	padding: 4px 7px 1px;
}
.dropdown-stripes {
	background: grey;
	margin-bottom: 2px;
	width: 20px;
	height: 3px;
}

/* ******************************************************** */
.dropdown-beam {
	display: block;
	height: 35px;
	width: 100%;
	color: FC_HEAD;
	background: lightgrey linear-gradient(white, light-grey);
	border: 1px solid OUTLINE;
	border-radius: 7px;
	padding: 4px 7px 3px 10px;
	font-size: 1.25em;
	text-align: left;
}
.dropdown-beam::after {
	float: right;
	content: "▾";
	font-size: 0.85em;
	padding-left: 15px;
	padding-right: 5px;
}

/* ******************************************************** */
/* dropdown content */
/* ******************************************************** */
.dropdown-content {
	max-height: 450px;
	position: absolute;
	overflow: auto;
	overscroll-behavior: none;

	display: none;
	color: FC_DROP;
	background: BC_DROP;
	border: 1px solid OUTLINE;
	border-radius: 7px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	min-width: 160px;
	padding: 3px 7px;

	font-weight: normal;
}
.dropdown-content a {
	display: block;
	color: FC_DROP;
	padding: 0px 5px;
	font-weight: normal;
}
.dropdown-content a:hover {
	color: FC_MARK;
	background: BC_MARK;
}

.dropdown-content h4 {
	margin: 5px;
}
/* ******************************************************** */
/* top navigation bar - single line */
/* ******************************************************** */
.regtabs {
	display: inline-block;
	overflow: hidden;
	margin: 0px;
	padding: 5px 0px;
	font-weight: bold;
	vertical-align: middle;
}
.regtabs a {
	color: FC_DROP;
	background: BC_DROP;
	border-radius: 0px;
#	padding: 7px 20px;
    text-shadow: 1px 1px 2px grey;
}
.regtabs a:hover {
	color: FC_MARK;
	background: BC_MARK;
	font-weight: normal;
	text-decoration: none;
}
.regtabs a.active {
	color: FC_MARK;
	background: BC_MARK;
}
/* ******************************************************** */
/* tabs */
/* ******************************************************** */
.vtab {
	display: block;
	color: FC_DROP;
	background: BC_TABS;

	border-radius: 10px 0px 0px 10px;
	border: 1px solid OUTLINE;
	border-right: 0px;

	width: 17px;
	margin: 0px 0px 5px 14px;
	padding: 15px 0px 15px 9px;

	text-align: middle;

	font-weight: normal;
}
.vtab_selected {
#	color: FC_TOC;
	background: BC_TOC;
#	border: 1px solid navy;
	text-align: right;
	padding-right: 4px;
}

.vertical {
	writing-mode: sideways-lr;
	text-orientation: mixed;
}

.verticalMS {
	transform: rotate(90deg);

	-webkit-transform: rotate(-90deg); 	/* Safari */
	-ms-transform: rotate(-90deg); 		/* IE */
	-o-transform: rotate(-90deg); 		/* Opera */

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* ******************************************************** */
/* table of content */
/* ******************************************************** */
.toc {
	color: FC_TOC;
	background: BC_TOC;

	overflow: auto;
    line-height: 18px;
	vertical-align: middle;
	padding-bottom: 12px;

	font-size: F_MENU;
	white-space: nowrap;
}
.toc a {
	color: FC_TOC;
    text-decoration: none;
    font-weight: normal;
}
.toc a.inactive {
	color: FC_DEAD;
	background: BC_DEAD;
}

/* ******************************************************** */
.mnuTopic {
	margin: 7px 0px -7px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

/* ******************************************************** */
/* toc hierarchy */
/* ******************************************************** */
.lev1 {
	font-size: 1.2em;
	background: BC_DROP;
	margin: 0px 0px 10px;
	padding: 7px 7px 3px;
	border: 1px solid OUTLINE;
	border-radius: 7px;
}
.lev2 {
	font-size: 1em;
}

.lev2, .lev3, .lev4, .lev5, .lev6, .lev7, .lev8, .lev9 {
	display: block;
}

.lev2 { background-position:  5px top; padding-left: 25px; }
.lev3 { background-position: 15px top; padding-left: 35px; }
.lev4 { background-position: 25px top; padding-left: 45px; }
.lev5 { background-position: 35px top; padding-left: 55px; }
.lev6 { background-position: 45px top; padding-left: 65px; }
.lev7 { background-position: 55px top; padding-left: 75px; }
.lev8 { background-position: 65px top; padding-left: 85px; }
.lev9 { background-position: 75px top; padding-left: 95px; }

/* ******************************************************** */
/* folders */
/* ******************************************************** */
.dir {
    background-image: url("/cms/img/menus/folder.gif");
    background-repeat: no-repeat;
}
.dir a {
    text-decoration: none;
    font-weight: bold;
}

/* ******************************************************** */
/* files */
/* ******************************************************** */
.file {
    background-image: url("/cms/img/menus/page.gif");
    background-repeat: no-repeat;
}
.file a {
	color: FC_BODY;
}
.file a:hover {
    text-decoration: underline;
}

.sel {
	color: FC_MARK;
    background: BC_MARK;
    border-radius: 5px;
}

.hidden > a {
	color: FC_DEAD;
	background: BC_DEAD;
}
/* ******************************************************** */
/* table of content */
/* ******************************************************** */
topic {
	display: block;
	color: FC_INFO;
	background: BC_INFO;
	border: 1px solid OUTLINE;
	border-radius: 13px;
	margin: 0px 0px 7px;
}

/* ******************************************************** */
/* info cards */
/* ******************************************************** */
.chip {
    display: inline-block;
    margin: 7px;
    padding: 0px;
    width: 500px;
    border-radius: 35px;
    background: BC_PAGE;
}

.chip img {
    float: left;
    margin: 0px 35px 0px 0px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.chip p {
	padding: 10px;
}
/* ******************************************************** */
@media print {
/* ******************************************************** */

@page {
	margin: 2cm 2cm 2.4cm;
	widows: 3;
	orphans: 2;
}

body.print {
	margin: 0px;
}

h1, h2 {
	page-break-after: avoid;
	color: maroon;
}

h1, h2, h3 {
	margin: 1cm 0px 0px;
}

h1 + h2 {
#	page-break-before: initial;
}

h3, h4, h5, h6 {
	page-break-after: avoid;
	border: 0px;
	text-decoration: none;
}


p {
	page-break-inside: avoid;
	widows: 2;
	orphans: 2;
}

hr.pbr {
	page-break-after: always;
	background-color: transparent;
	border-top: 0px none;
	height: 0px;
}

.helpbox {
	display: none;
}


tr, .br {
	page-break-inside: avoid;
}

/* ******************************************************** */
}
/* ******************************************************** */
@media only screen and (max-width: 1300px) {

	html {
		transform: scale(0.95);
		transform-origin: top left;
		height: calc(100% / 0.95);
	}
	.banner {  position: absolute; }
	.modmenu { position: absolute; }
}

@media only screen and (max-width: 1275px) {
	html { transform: scale(0.85); height: calc(100% / 0.85); }
}
@media only screen and (max-width: 1175px) {
	html { transform: scale(0.78); height: calc(100% / 0.78); }
}
@media only screen and (max-width: 950px) {
	html { transform: scale(0.70); height: calc(100% / 0.70); }
	html { transform: scale(1); height: 100%; }
	.micon { display: block; }
	.modToc { width: calc(W_BODY - 200px); max-width: 75%; border-right: 1px solid OUTLINE; }
	.modMbar { display: none; }
	.modBody { left: W_TABS; }
	.modOpts { left: calc(W_TABS + W_BODY); }
}

/*
@media only screen and (max-width: 975px) {
	html { transform: scale(0-65); height: calc(100% / 0.65); }
}
@media only screen and (max-width: 875px) {
	html { transform: scale(0.60); height: calc(100% / 0.60); }
}
*/
