/* ******************************************************** */
/* common props */
/* ******************************************************** */
[class^="mod"] {
	float:      left;
	overflow:   auto;
	max-height: 100vh;
	min-height: 100vh;
	width:      calc(100vw - W_TABS);
}

/* ******************************************************** */
/* vertical panels */
/* ******************************************************** */
.modTabs {
	width:      W_TABS;
	background: BC_PAGE url("LOC_IMG/tabs/pborder.png") repeat-y right;
}

.modToc {
	width:      W_TOC;
	color:      FC_TOC;
	background: BC_TOC;
}

.modMbar {
	width:      W_MBAR;
	background: transparent url("LOC_IMG/mbar/spirals.png") repeat-y;
}

.modBody {
	width:      W_BODY;
	font-size:  F_BODY;
	color:      FC_BODY;
	background: BC_BODY;
}

.modBord {
	width:      10px;
	background: url("LOC_IMG/opts/pborder.png") repeat-y;
}

.modOpts {
	width:      calc(100vw - W_TABS - W_TOC - W_MBAR - W_BODY - 10px);
	color:      FC_OPTS;
}

/* ******************************************************** */
/* horizontal panels */
/* ******************************************************** */
.joker {
	overflow:   auto;
	display:    none;
	padding:    0px 15px;
	height:     25px;
	background: BC_TABS;
}
