@charset "UTF-8";

* {
	box-sizing: border-box;
 	margin:     0px;
	border:     0px;
 	padding:    0px;

 	vertical-align: bottom;
}

/* ******************************************************** */
/* css default */
/* ******************************************************** */
html, body {
	height:     100vh;
	width:      100%;
}

html {
 	background:  white;
	font-family: Arial, sans-serif;
	font-size:   F_SIZE;
	font-weight: normal;
	hyphens:     auto;
}

body {
	overflow:   auto;
	position:   relative;
	background: BC_PAGE;
	color:      FC_BODY;
}
