/* ******************************************************** */
/* standard tags */
/* ******************************************************** */
h1, h2, h3, h4, h5, h6 {
	margin: 15px 0px 7px;
	color: FC_HEAD;
}
h4, hx {
	border-bottom: 1px solid;
}
h5, h6, hy {
	margin: 5px 0px 3px;

	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	text-decoration: underline;
}

hx, hy {
	display: block;
	font-size: 1em;
	color: FC_BODY;
	margin-bottom: 5px;
}

p {
	margin: 3px 0px 7px;
	text-align: justify;
}

blockquote {
	margin: 3px 0px 12px;
	border: 1px solid OUTLINE;
	border-radius: 7px;
	padding: 5px 10px;
}

/* ******************************************************** */
/* separators */
/* ******************************************************** */
hr.pbr {
	background-color: transparent;
	border-top: 1px dashed red;
}

hr.search {
	background-color: transparent;
	border-top: 2px solid red;
#	border-bottom: 2px solid maroon;
}

/* ******************************************************** */
/* anchors */
/* ******************************************************** */
a {
	color: FC_LINK;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
#	color: #9FC700;
}

a.inactive {
	color: FC_DEAD;
	background: BC_DEAD;
	font-weight: normal;
}

a.norm {
	color: FC_BODY;
	text-decoration: none;
	font-weight: normal;
}

/* ******************************************************** */
/* sup sub */
/* ******************************************************** */
sup, sub {
	font-size: 0.6em;
}

hr {
	border: 0px;
	padding: 0px;
	height: 1px;
	background: OUTLINE;
}
hr.low {
	margin: 2px 0px 3px;
}

/* ******************************************************** */
/* other */
/* ******************************************************** */
details {
	display: inline-block;
	cursor: pointer;
}
details-content {
	display: inline-block;
	margin: 0px 18px;
	padding: 3px 10px 5px;
	border: 1px solid OUTLINE;
	border-radius: 7px;
}
