/* ******************************************************** */
/* common props */
/* ******************************************************** */
[class^="mod"] {
	overflow:   auto;
	max-height: 100vh;
	min-height: 100vh;
	padding:    0px;
}

/* ******************************************************** */
/* vertical panels */
/* ******************************************************** */
.modTabs {
	width:      W_TABS;
	padding:    7px 0px;
	background: BC_PAGE url("LOC_IMG/tabs/pborder.png") repeat-y right;
}

.modToc {
	width:      W_TOC;
	padding:    1rem 1rem 2rem;
	background: BC_TOC;
	color:      FC_TOC;
}

.modMbar {
	width:      W_MBAR;
	background: transparent url("LOC_IMG/mbar/spirals.png") repeat-y;
}

.modPage {
	width:      W_BODY;
	padding:    1rem 1rem 2rem;
	background: BC_BODY;
}

.modBord {
	width:      10px;
	background: url("LOC_IMG/opts/pborder.png") repeat-y;
	background-position: right top;
}

.modOpts {
	width:      calc(100% - W_TABS - W_TOC - W_MBAR - W_BODY - 10px);
	padding:    1rem 1rem 2rem;
	background: BC_OPTS;
	color:      FC_OPTS;
}

/* ******************************************************** */
/* sticky stuff */
/* ******************************************************** */
.sticky {
	position:   sticky;
	top:        -1rem;

	background: inherit;
	padding:    0px 0px 3px;
	z-index:    100000;
}
