@charset "UTF-8";

* {
	box-sizing: border-box;
 	margin:     0px;
	border:     0px;
 	padding:    0px;

 	vertical-align: top;
}

:root {
	font-family: FreeSans, sans-serif, Arial;
	font-size:   12pt;
	font-weight: normal;
	hyphens:     auto;
}

/* ******************************************************** */
/* css default */
/* ******************************************************** */
html, body {
	height:     100vh;
	width:      100vw;
}

html {
 	background:  white;
}

body {
	overflow:   hidden;
#	overflow:   auto;
	position:   relative;
	height:     100vh;
	background: BC_PAGE;
	color:      FC_BODY;
}

section {
	clear: both;
	margin-bottom: 5px;
}

/* ******************************************************** */
/* adaptive design */
/* ******************************************************** */
.joker {
	display:    none;
	background: BC_TABS;
	margin:     -1rem -1rem 0px;
}
