/* ******************************************************** */
/* common props */
/* ******************************************************** */
[class^="mod"] {
	float:      left;
	overflow:   auto;
	max-height: 100vh;
	min-height: 100vh;
}

.colToc {
	background: BC_TOC;
	overflow:   hidden;
}

.colMain {
	float:      left;
	overflow:   auto;
	min-height: 100vh;
	width:      W_BODY;
	max-width:  W_BODY;
	background: BC_BODY;
}

/* ******************************************************** */
/* vertical panels */
/* ******************************************************** */
.modTabs {
	width:      W_TABS;
	background: BC_PAGE url("LOC_IMG/tabs/pborder.png") repeat-y right;
}

.modToc {
	width:      W_TOC;
	color:      FC_TOC;
	background: BC_TOC;
	padding:    1rem 15px 85px;
}

.modMbar {
	width:      W_MBAR;
	background: transparent url("LOC_IMG/mbar/spirals.png") repeat-y;
}

.titBody {
	width:      100%;
#	height:     45px;
	padding:    1rem 20px 0px;
}

.modBody {
	max-height: calc(100vh - 45px);
	min-height: calc(100vh - 45px);
	width:      100%;
	font-size:  F_BODY;
	padding:    0px 20px 25px;
}

.modBord {
	width:      10px;
	background: url("LOC_IMG/opts/pborder.png") repeat-y;
}

.modOpts {
	overflow:   auto;
	color:      FC_OPTS;
	background: BC_OPTS;
	padding:    1rem 20px 25px;
	width:      calc(100% - W_TABS - W_TOC - W_MBAR - W_BODY - 10px);
#	width:      W_OPTS;
#	max-width:  W_OPTS;
}

/* ******************************************************** */
/* horizontal panels */
/* ******************************************************** */
.joker {
	float:      top;
	overflow:   hidden;
	display:    none;
	min-height: 1.5rem;
	background: BC_TABS;
	width:      100%;
	padding:    0px 20px 0px;
}
