/* ******************************************************** */
/* standard tags */
/* ******************************************************** */
h1, h2, h3, h4, h5, h6 {
	margin: 15px 0px 7px;
	color: FC_HEAD;
}
h4, hx {
	border-bottom: 1px solid;
}
h5, h6, hy {
	margin: 5px 0px 3px;

	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	text-decoration: underline;
}

hx, hy {
	display: block;
	font-size: 1em;
	color: FC_BODY;
	margin-bottom: 5px;
}

.modtoc > h3 {
	margin-top: 0px;
}

p {
	margin: 3px 0px 7px;
	text-align: justify;
}
b {
    font-weight: bold;
}

/* ******************************************************** */
/* separators */
/* ******************************************************** */
hr.pbr {
	background-color: transparent;
	border-top: 1px dashed red;
}

/* ******************************************************** */
/* images */
/* ******************************************************** */
img {
	margin: 0px;
	border: 0px;
	vertical-align: middle;
}
img.flag {
	border: 1px solid OUTLINE;
	border-radius: 5px;
}
img.rgt {
	text-align: right;
	padding-left: 25px;
}
img.lft {
	text-align: left;
	padding-right: 15px;
}

.view {
	width: 100%;
}

.thumb {
	display: inline-block;
	margin: 0px 5px 3px;
	width: 110px;
}

/* ******************************************************** */
/* anchors */
/* ******************************************************** */
a {
	color: FC_LINK;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
#	color: #9FC700;
}

a.inactive {
	color: FC_DEAD;
	background: BC_DEAD;
	font-weight: normal;
}

a.norm {
	color: FC_BODY;
	text-decoration: none;
	font-weight: normal;
}

/* ******************************************************** */
/* sup sub */
/* ******************************************************** */
sup, sub {
	font-size: 0.6em;
}

hr {
	border: 0px;
	padding: 0px;
	height: 1px;
	background: OUTLINE;
}
hr.low {
	margin: 0px 0px 5px;
}

abbr {
	margin: 0px;
	padding: 0px;
	color: FC_HINT;
	background: BC_HINT;
}

/* ******************************************************** */
/* other */
/* ******************************************************** */
details {
	display: inline-block;
	cursor: pointer;
}
details-content {
	display: inline-block;
	margin: 0px 18px;
	padding: 3px 10px 5px;
	border: 1px solid OUTLINE;
	border-radius: 7px;
}
