/* ******************************************************** */
/* classes for common use */
/* ******************************************************** */
.nomargin {
	margin: 0px;
}
.nopad {
	padding: 0px;
}

.pre {
	max-height: 150px;
	overflow: auto;
	font-family: monospace;
	font-size: 0.75em;
	white-space: pre;
}

/* ******************************************************** */
/* backgrounds */
/* ******************************************************** */
.bg {
	background: BC_TBACK;
	width: 100%;
	overflow: auto;
}

.rh {
	padding: 3px 5px 1px;
	color: FC_THEAD;
	background: BC_THEAD;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}

.rw	               { color: FC_TEVEN; background: BC_TEVEN; }
.rw:nth-child(odd) { color: FC_TODD;  background: BC_TODD;  }
.rw:hover	       { color: FC_TMARK; background: BC_TMARK; }

.rf {
	color: FC_TFOOT;
	background: BC_TFOOT;
	vertical-align: middle;
}

/* ******************************************************** */
/* borders */
/* ******************************************************** */
.round7 {
	border: 1px solid OUTLINE;
	border-radius: 7px;
}

.scroll {
	overflow: auto;
}

/* ******************************************************** */
/* spaces */
/* ******************************************************** */
.head {
	margin-top: 12px;
	margin-bottom: 0px;
}
