/* ******************************************************** */
/* classes for common use */
/* ******************************************************** */
.nomargin {
	margin: 0px;
}
.nopad {
	padding: 0px;
}
.nowrap {
	white-space: nowrap;
	overflow: hidden;
}

.pre {
	max-height: 10rem;
	overflow: auto;
	font-family: monospace;
	font-size: 0.75rem;
	white-space: pre;
}

.mobile, .mobilex {
	display: none;
}

.mblbtn {
	margin:  -3px 0px 0px;
	min-width: 2rem;
}

/* ******************************************************** */
/* backgrounds */
/* ******************************************************** */
.bg {
	background: BC_TBACK;
	margin-bottom: 1rem;
	width: 100%;
	overflow: auto;
}

.rh {
	padding: 3px 5px 1px;
	color: FC_THEAD;
	background: BC_THEAD;
	font-weight: bold;
	text-align: left;
}

.rw	               { color: FC_TEVEN; background: BC_TEVEN; }
.rw:nth-child(odd) { color: FC_TODD;  background: BC_TODD;  }
.rw:hover	       { color: FC_TMARK; background: BC_TMARK; }

.rf {
	color: FC_TFOOT;
	background: BC_TFOOT;
}

/* ******************************************************** */
/* alignment */
/* ******************************************************** */
.rgt {
	text-align: right;
}
