/* ******************************************************** */
/* flex divs */
/* ******************************************************** */
div.flex {
	display: flex;
	justify-content: space-between;
}

div.flexleft {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

div.flexbottom {
	display: flex;
	align-items: flex-end;
}
