div.h1, div.h2, div.h3 {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0px 0px 7px;
	color: FC_HEAD;
}

div.h2 { font-size: 1.15rem; }
div.h3 { font-size: 1.1rem; }

div.h4 {
	font-weight: bold;
	margin: 15px 0px 7px;
	border-bottom: 1px solid;
	color: FC_HEAD;
}

/* ******************************************************** */
/* flex divs */
/* ******************************************************** */
div.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: row wrap;
}
