/* ******************************************************** */
/* flex divs */
/* ******************************************************** */
div.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: row wrap;
}

div.flexleft {
	display: flex;
	justify-content: flex-start;
	flex-wrap: row wrap;
}

div.flexbottomx {
	display: flex;
	align-items: flex-end;
}
