/* ******************************************************** */
/* editor styles */
/* ******************************************************** */
[contenteditable] {
	outline: 0px solid transparent;
}

.tarea {
	display: block;
	position: relative;
	width: calc(100% - 10px);
}
.filename {
	text-align: right;
	margin-right: 7px;
	padding: 0px 12px 1px;
	min-width: 350px;
}

.hidden {
	display: none;
}

/* ******************************************************** */
/* preview window and frame */
/* ******************************************************** */
.cold {
	overflow: auto;
	border: 1px solid OUTLINE;
	border-radius: 15px;
	padding: 7px 15px 25px;
	min-height: 25px;
	max-height: 500px;
}
.hot {
	overflow: auto;
	border: 1px solid red;
	border-radius: 15px;
	padding: 7px 15px 25px;
	min-height: 25px;
	max-height: 500px;
}

.edit {
	overflow: none;
	border: 0px;
}

.frmPreview {
	display: block;
	border: 0px;
	width: 100%;
	height: 450px;
}
