[contenteditable] {
	outline: 0px solid transparent;
}

[draggable] {
	display: block;
	margin: 2px 0px;
	min-width: 25rem;
	text-align: left;
}

/* ******************************************************** */
/* editor styles */
/* ******************************************************** */
.filename {
	text-align: right;
	padding: 0px 5px;
	width: 21rem;
}

.hidden {
	display: none;
}

/* ******************************************************** */
/* preview window and frame */
/* ******************************************************** */
.cold, .hot {
	overflow: auto;
	border: 1px solid OUTLINE;
	border-radius: BR_MENU;
	padding: 7px BR_MENU 25px;
	min-height: 1.5rem;
#	max-height: 100%;
	max-height: calc(100vh - H_MENU - 150px);
}

.hot {
	border-color: BO_HOT;
}
