/* ******************************************************** */
/* images */
/* ******************************************************** */
img {
	margin: 0px;
	border: 0px;
	vertical-align: middle;
}

img.icon {
	vertical-align: -2px;
}
img.flag {
	border: 1px solid OUTLINE;
	border-radius: 5px;
}

img.btn {
	background: linear-gradient(snow, lightgrey);
	padding: 1px 7px;
	border: 1px solid OUTLINE;
	border-radius: 5px;
}

img.rgt {
	text-align: right;
	padding-left: 25px;
}
img.lft {
	text-align: left;
	padding-right: 15px;
}

.thumb {
	display: inline-block;
	margin: 0px 5px 3px;
	width: 110px;
}

/* ******************************************************** */
/* collections */
/* ******************************************************** */
.collection {
	border: 1px solid OUTLINE;
	border-radius: 7px;
	max-width: 100%;
	max-height: 430px;
	background-position: top;
	background-size: cover;
}
