
/* ******************************************************** */
/* labels */
/* ******************************************************** */
label {
	border: 1px solid OUTLINE;
	border-radius: BR_INP;
	padding: 3px 10px;

#	height: H_LINE;
	line-height: H_LINE;

	font-size: 0.85em;
	color: FC_INPUT;
	background: linear-gradient(snow, lightgrey);
}

a label {
	color: FC_BODY;
	font-weight: normal;
	cursor: pointer;
}

label.text {
	border: 0px;
	background: transparent none;
}

label.red {
	background: #FFC0CB none;
}
label.blue {
	background: #D2EDEF none;
}
label.mauve {
	background: #EBD2EB none;
}

/* ******************************************************** */
/* input */
/* ******************************************************** */
label.upload {
	display: inline-block;
	white-space: nowrap;
	height: H_LINE;
	min-width: 100%;
	padding: 0px 10px;
}

.ronly { /* data */
	border: 1px solid cadetblue;
	width: 10rem;
	background: BC_BODY;
}

/* ******************************************************** */
/* hidden labels for radio buttons */
/* ******************************************************** */
label.hidden {
	background: transparent none;
}

