/* ******************************************************** */
/* table styles */
/* ******************************************************** */
table {
	margin: 0px 0px 1rem;
	border-collapse: collapse;
	border-spacing: 0px;
}

/* ******************************************************** */
/* rows */
/* ******************************************************** */
tr {
}

/* ******************************************************** */
/* cells */
/* ******************************************************** */
th {
	color: FC_THEAD;
	background: BC_THEAD;
	padding: 3px 5px 1px;
	text-align: left;
}

th refbox {
	color: FC_THEAD;
	text-decoration: none;
}

td {
	padding:  0px 5px;
}

/* ******************************************************** */
/* footer */
/* ******************************************************** */
.tblnote {
	margin: -0.75rem 0px 1rem;
	color: FC_DEAD;
	background: BC_DEAD;
	font-size: 0.85em;
	font-style: normal;
}
