
/* ******************************************************** */
/* listings */
/* ******************************************************** */
ul, ol, dl {
	list-style-position: outside;
	margin: 0.25rem 0px 0.75rem;
	padding: 0px 1rem;
}

li {
	text-align: justify;
}

/* ******************************************************** */
dl {
	display: block;
	border: 1px solid OUTLINE;
	border-radius: BR_TEXT;
	padding: 0px;
}

dt {
	font-style: italic;
	color: FC_HEAD;
}
dd {
}
