
/* ******************************************************** */
/* labels */
/* ******************************************************** */
label {
	margin: 0px;
	border: 1px solid OUTLINE;
	border-radius: 5px;
	padding: 2px 10px;

	line-height: 23px;

	color: FC_INPUT;
	background: linear-gradient(snow, lightgrey);
	font-size: 14px;
	vertical-align: bottom;
}

a label {
	color: FC_BODY;
	font-weight: normal;
	cursor: pointer;
}

label.text {
	background: transparent none;
	border: 0px;
}

label.red {
	background: #FFC0CB none;
}
label.blue {
	background: #D2EDEF none;
}
label.mauve {
	background: #EBD2EB none;
}
label.upload {
	display: inline-block;
	white-space: nowrap;
	width: 300px;
}

/* ******************************************************** */
/* hidden labels for radio buttons */
/* ******************************************************** */
label.hidden {
	background: transparent none;
}

