
/* ******************************************************** */
/* labels */
/* ******************************************************** */
label {
	padding: 2px 10px 2px 7px;
	background: linear-gradient(snow, lightgrey);
	border: 1px solid OUTLINE;
	border-radius: 5px;
	cursor: pointer;
}

label.text {
	background: transparent none;
	border: 0px;
}

label.red {
	background: #FFC0CB none;
}
label.blue {
	background: #D2EDEF none;
}
label.mauve {
	background: #EBD2EB none;
}
label.upload {
	display: inline-block;
	white-space: nowrap;
	width: 300px;
}

/* ******************************************************** */
/* hidden labels for radio buttons */
/* ******************************************************** */
label.hidden {
	background: transparent none;
}

