
/* ******************************************************** */
/* listings */
/* ******************************************************** */
ul, ol {
	list-style-position: outside;
	margin: 7px 0px 12px;
	padding: 0px 15px;
}
ol {
	padding: 0px 20px;
}

li {
	text-align: justify;
}

/* ******************************************************** */
dl {
	display: block;
	border: 1px solid OUTLINE;
	border-radius: BR_TEXT;

	margin: 7px 0px 12px;
	padding: 7px 15px 10px;
}

dt {
	font-style: italic;
	color: FC_HEAD;
}
dd {
	margin: 0px 15px 5px;
}
