/* ******************************************************** */
/* images */
/* ******************************************************** */
img {
}

img.flag {
	border-radius: BR_INP;
}

img.rgt {
	max-height: THUMB_HGT;
	margin: 0px 0px 5px 10px;
}
img.lft {
	max-height: THUMB_HGT;
	margin: 0px 0px 5px 10px;
}

.thumb {
	display: inline-block;
	margin: 0px 5px 3px;
}

/* ******************************************************** */
/* full width pics */
/* ******************************************************** */
img.max {
	border: 1px solid OUTLINE;
	border-radius: BR_IMG;
	margin-bottom: 7px;
}

img.full {
	border: 1px solid OUTLINE;
	border-radius: BR_IMG;
	max-width:  100%;
	max-height: 100%;
}
