/* ******************************************************** */
/* images */
/* ******************************************************** */
img {
}

img.flag {
	border-radius: BR_INP;
}

img.rgt {
	padding: 0px 0px 5px 15px;
}
img.lft {
	padding: 0px 0px 5px 15px;
}

.thumb {
	display: inline-block;
	margin: 0px 5px 3px;
}

/* ******************************************************** */
/* full width pics */
/* ******************************************************** */
img.max {
	border: 1px solid OUTLINE;
	border-radius: BR_IMG;
	margin-bottom: 7px;
}
