/* ******************************************************** */
/* lookup info */
/* ******************************************************** */
refbox {
	position: relative;
	display: inline-block;
	color: FC_HEAD;

	text-decoration: underline dotted;
	text-align: right;
}

refbox:hover refbox-content {
	display: block;
}

/* ******************************************************** */
/* lookup content */
/* ******************************************************** */
refbox-content {
	position: absolute;
	position: float;
	right: var(--aln);

	z-index: 99;
	display: none;
	width: 300px;
	overflow: auto;

	border: 1px solid OUTLINE;
	border-radius: 12px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	padding: 5px 10px 7px;

	color: FC_HINT;
	background: BC_HINT;

	font-size: 0.85em;
	font-weight: normal;
	font-style: normal;
	white-space: pre-line;
	text-align: left;
}

/* ******************************************************** */
/* help symbol */
/* ******************************************************** */
.helpbox {
	display: inline-block;
	position: relative;
	margin: -30px -7px 0px 0px;
	float: right;
	right: 0px;
}
.helpbox:hover .helpbox-content {
	display: block;
}

.helpbox-content {
	z-index: 30;
	display: none;
	position: fixed;
	right: calc(100% - W_BODY - W_TOC - W_TABS - W_MBAR + 20px);
	width: calc(W_BODY - 75px);
	max-height: 450px;
	overflow: auto;

	color: FC_HINT;
	background: BC_HINT;

	border: 1px solid OUTLINE;
	border-radius: 7px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	padding: 0px 25px 15px;
}
