/* ******************************************************** */
/* simple color tags */
/* ******************************************************** */
white	{ color: white;	 }
light	{ color: lightgrey;	}
grey	{ color: grey;   }
black	{ color: black;  }

red	 { color: red;	 }
green	{ color: green;	 }
blue	{ color: navy;	 }
mauve	{ color: purple; }
maroon	{ color: maroon; }

/* ******************************************************** */
/* simple color tags */
/* ******************************************************** */
dfn {
	color: purple;
}

caps {
	font-variant: small-caps;
}

small {
	font-size: 0.75em;
}

kbd {
	display: inline-block;
	background: #EEE;
	border: 1px solid grey;
	border-radius: 7px;
	padding: 1px 0.5em;
	min-width: 12px;

	font-size: 0.75em;
	text-align: center;
}

fnote {
	display: inline-block;
	color: green;
	text-align: center;
}

/* ******************************************************** */
/* highlighting (marker)*/
/* ******************************************************** */
markp {
	background: yellow;
	border: 0px;
	padding: 0px 5px;
}

mark, mark1, mark2, mark3, mark4, mark5 {
#	background: BC_MARK;
	border: 1px solid orange;
	border-radius: 7px;
	padding: 0px 5px;
}

mark1 { background: yellow;  }
mark2 { background: #FFE100; }
mark3 { background: #E3FF00; }
mark4 { background: #D5F7F7; }
mark5 { background: #F7D8F7; }
