/* ******************************************************** */
/* debugging, error tracing, help messages */
/* ******************************************************** */
dbg, err, msg, code, php, .confirm {
	z-index: 85;
	color: FC_TOC;
	background: BC_TBACK;

	vertical-align: middle;
	display: inline-block;
	max-width: 100%;

	border: 1px solid OUTLINE;
	border-radius: 10px;
	margin: 0px;
	padding: 2px 7px 3px;
}
php, code, dbg {
	font-family: monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
}

code {
	display: block;
	overflow: auto;
	min-height: 15px;
}

dbg  { color: FC_WARN; }
msg  { color: FC_MSG;  background: BC_MSG;  }
err  { color: FC_WARN; background: BC_WARN; }

/* ******************************************************** */
hint, .hint {
	color: FC_DEAD;
	background: BC_DEAD;
	font-size: 0.85em;
	font-style: normal;
}

msg > ul {
	margin: 0px;
}

/* ******************************************************** */
.confirm {
	padding: 5px 12px 8px;
	display: block;
	border: 0px;
}

/* ******************************************************** */
/* err handling */
/* ******************************************************** */
trace {
	background: transparent;
	border: 0px;
	padding: 0px;
	font-size: 0.85em;
}

.err1 {
	background: BC_BODY;
	border: 0px;
	margin: 5px -6px 3px;
	padding: 5px 6px 2px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-family: monospace;
	font-size: 0.75em;
	color: FC_DEAD;
}

/* ******************************************************** */
/* info-button */
/* ******************************************************** */
.info {
	display: inline-block;
	color: FC_TOC;
	background: BC_BODY;
	border: 1px solid OUTLINE;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
}

