/* ******************************************************** */
/* debugging, error tracing, help messages */
/* ******************************************************** */
dbg, err, msg, code, php, .confirm {
	z-index: 85;
	color: FC_TOC;
	background: BC_TBACK;

	display: block;
	max-width: 100%;

	border: 1px solid OUTLINE;
	border-radius: BR_TEXT;
	margin: 0px;
	padding: 2px 7px 3px;
}
php, code, dbg, pre {
	font-family: monospace;
	font-size: 0.75rem;
	white-space: pre-wrap;
}

code {
	display: block;
	overflow: auto;
	min-height: 1.1rem;
}

dbg  { color: FC_WARN; }
msg  { color: FC_MSG;  background: BC_MSG;  }
err  { color: FC_WARN; background: BC_WARN; }

/* ******************************************************** */
dbg.hint {
	color: white;
	background: #585555;
	font-size: 0.75rem;
}

dbg.hint2 {
	color: white;
	background: darkgrey;
	font-size: 0.75rem;
}

dbg.hint3 {
	color: maroon;
	background: #CECECE;
	font-size: 0.75rem;
}

/* ******************************************************** */
hint, .hint {
	color: FC_DEAD;
	background: BC_DEAD;

	vertical-align: middle;
	font-size: 0.85rem;
	font-style: normal;
}

msg > ul {
	margin: 0px;
}

/* ******************************************************** */
.confirm {
	padding: 7px 5px;
	display: block;
	border: 0px;
}

/* ******************************************************** */
/* err handling */
/* ******************************************************** */
trace {
	background: transparent;
	border: 0px;
	padding: 0px;
	font-size: 0.85rem;
}

.err_dd {
	background: BC_BODY;
	border: 0px;
	margin: 5px -6px 3px;
	padding: 5px 6px 2px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-family: monospace;
	font-size: 0.75rem;
	color: FC_DEAD;
}

/* ******************************************************** */
/* info-button */
/* ******************************************************** */
.info {
	display: inline-block;
	color: FC_TOC;
	background: BC_BODY;
	border: 1px solid OUTLINE;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
}

