form {
	margin: 0.25rem 0px 1.25rem;
}

form table {
	margin: 0px;
}

/* ******************************************************** */
/* input fields */
/* ******************************************************** */
input, select, button, .dmbtn {
	margin: 0px;
	border: 1px solid OUTLINE;
	border-radius: BR_INP;
	padding: 0px IB_PAD;
	overflow: auto;

	min-height: H_LINE;
	min-width: 2rem;

	color: FC_INPUT;
	background: BC_INPUT;

	font-size: 0.9rem;
}

/* ******************************************************** */
/* buttons */
/* ******************************************************** */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
	background: linear-gradient(snow, lightgrey);
	cursor: pointer;
}

input[type='reset'] {
	color: maroon;
}

.dmbtn {
	display: inline-block;

	max-height: H_LINE;

	background: linear-gradient(snow, lightgrey);
	text-align: center;
	vertical-align: middle;
}

.dmbtn img {
	padding-top: 2px;
}

/* ******************************************************** */
/* common input */
/* ******************************************************** */
input[type='file'] {}
input[type='text'] {}
input[type='date'] { padding: 0px 2px; }

input[type='color'] { /* color input */
	height: H_LINE;
}

/* ******************************************************** */
/* check and radio */
/* ******************************************************** */
input[type='checkbox'],
input[type='radio'] {
	margin: -4px 0.5rem 0px 0px;
	min-width: 1em;
}

/* ******************************************************** */
/* combo boxes */
/* ******************************************************** */
select {
	background: BC_DROP url("LOC_ICO/input/combodown.png") no-repeat right;
	min-width: 0.2vw;
	cursor: pointer;

	padding: 3px LR_PAD 3px 5px;
	font-family: inherit;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

/* ******************************************************** */
/* textareas  */
/* ******************************************************** */
textarea {
	background-color: white;
	min-width: 0.35vw;
	min-height: 0.05vh;
	border: 1px solid OUTLINE;
	border-radius: BR_INP;
	padding: 5px IB_PAD;

	width: 100%;
	height: 5rem;

	overflow: auto;
}

textarea.max {
	height: calc(100vh - H_MENU - 9rem);
 	width: 100%;
}

/* ******************************************************** */
/* read only */
/* ******************************************************** */
.ronly { /* data */
	max-height: 5rem;
	overflow: auto;
	color: BO_COLD;
	padding: 2px IB_PAD 0px;
#	font-size: 0.9rem;
}

/* ******************************************************** */
/* info */
/* ******************************************************** */
.comment { /* help text */
	display: inline-block;
	margin: 0.3rem 0px 0.5rem;
	padding: 0px LR_PAD;
	font-size: 0.85rem;
}
