
/* ******************************************************** */
/* sections */
/* ******************************************************** */
.selSection {
	color: FC_HEAD;
	font-style: italic;
	vertical-align: bottom;

	padding-top: 12px;
}

.spacer {
	border: 0px;
}

/* ******************************************************** */
/* read only representation */
/* ******************************************************** */
.selHead {
	white-space: nowrap;
	vertical-align: middle;
	padding: 0px 15px 3px 1px;
	min-width: 15rem;
}
.selData {
	vertical-align: middle;
	padding: 0px 0px 1px;
	width: 100%;
}

/* ******************************************************** */
/* ratings */
/* ******************************************************** */
.rating {
	width: 105px;
	border: 1px solid OUTLINE;
	border-radius: 5px;

	background: url("LOC_ICO/input/rating.png") no-repeat top;
}

rating img {
	margin: 2px 0px;
	opacity: 100%;
}
