form {
	margin: 2px 0px 20px;
}

form table {
	margin: 0px;
}

/* ******************************************************** */
/* input fields */
/* ******************************************************** */
input, select, button, .dmbtn {
	margin: 0px;
	border: 1px solid OUTLINE;
	border-radius: 5px;
	padding: 0px 5px;
	overflow: auto;

	min-height: H_LINE;

	color: FC_INPUT;
	background: BC_INPUT;
	vertical-align: bottom;
}

/* ******************************************************** */
/* buttons */
/* ******************************************************** */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
	background: linear-gradient(snow, lightgrey);
	padding: 0px 15px;
	cursor: pointer;
}

input[type='button'] {
	background: linear-gradient(snow, lightgrey);
	padding: 0px 15px;
	cursor: pointer;
}

button {
	padding: 0px 9px;
	min-width: 30px;
}

/* ******************************************************** */
/* common input */
/* ******************************************************** */
input[type='text'] {}
input[type='datetime-local'] {}
input[type='file'] {}

input[type='color'] { /* color input */
	padding: 0px;
	border: 0px;
}

/* ******************************************************** */
/* check and radio */
/* ******************************************************** */
input[type='checkbox'],
input[type='radio'] {
	vertical-align: middle;
	margin-right: 5px;
}

/* ******************************************************** */
/* combo boxes */
/* ******************************************************** */
select {
	background: BC_DROP url("LOC_ICO/input/combodown.png") no-repeat right;
	min-width: 105px;
	cursor: pointer;

	padding-right: 15px;
	font-family: inherit;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

/* ******************************************************** */
/* textareas  */
/* ******************************************************** */
textarea {
	background-color: white;
	min-width: 0.35vw;
	min-height: 0.05vh;
	border: 1px solid OUTLINE;
	border-radius: 5px;
	padding: 5px 2px 5px 7px;

	width: 35rem;
	height: 7rem;

	overflow: auto;
}

textarea.toolbar {
	width: calc(100% - 45px);
	height: 7rem;
}

textarea.max {
	width: calc(100% - 10px);
}

/* ******************************************************** */
/* info */
/* ******************************************************** */
.comment { /* help text */
	display: inline-block;
	margin: 3px 0px 5px;
	padding: 0px 7px;
	vertical-align: middle;
	font-size: 0.85em;
}
