form {
	margin: 2px 0px 20px;
}

form table {
	margin: 0px;
}

/* ******************************************************** */
/* input fields */
/* ******************************************************** */
input, select, button {
	margin: 0px;
	border: 1px solid OUTLINE;
	border-radius: 5px;
	padding: 0px 5px;
	overflow: auto;

	height: 22px;

	color: FC_INPUT;
	background: BC_INPUT;
	font-size: 14px;
	vertical-align: bottom;
}

/* ******************************************************** */
/* buttons */
/* ******************************************************** */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
	background: linear-gradient(snow, lightgrey);
	padding: 0px 15px;
	cursor: pointer;
	height: 24px;
}

input[type='button']
{
	background: linear-gradient(snow, lightgrey);
	padding: 0px 15px;
	cursor: pointer;
}

button {
	padding: 0px 9px;
	min-width: 40px;
}

/* ******************************************************** */
/* common input */
/* ******************************************************** */
input[type='text'] {}
input[type='datetime-local'] {}
input[type='file'] {}

input[type='color'] { /* color input */
	padding: 0px;
	border: 0px;
	height: 24px;
}

/* ******************************************************** */
/* check and radio */
/* ******************************************************** */
input[type='checkbox'],
input[type='radio'] {
	margin-right: 5px;
}

.cb {
	display: block;
	position: relative;
	border: 0px;
	border-radius: 5px;
	padding-left: 30px;
	height: 21px;

	background: transparent;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cb input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	border: 1px solid OUTLINE;
	border-radius: 5px;
	top: 0;
	left: 0;
	height: 19px;
	width: 50px;
	background: BC_DROP;
#	font-size: 0.8em;
	text-align: center;
}

.checkmark:after {
	color: black;
	content: "no";
}

.container input:checked ~ .checkmark:after {
	color: white;
	content: "yes";
}
.cb input:checked ~ .checkmark {
	border: 1px solid forestgreen;
	background-color: forestgreen;
}

/* ******************************************************** */
/* combo boxes */
/* ******************************************************** */
select {
	background: BC_DROP url("CMS_URL/LOC_ICO/input/combodown.png") no-repeat right;
	min-width: 105px;
	height: 24px;
	cursor: pointer;

	padding-right: 15px;
	font-family: inherit;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

option {
	line-height: 14px;
	max-height: 14px;
	padding: 0px;
}

/* ******************************************************** */
/* textareas  */
/* ******************************************************** */
textarea {
	background: BC_BODY;
	max-width: calc(W_BODY - 10px);
	min-width: 350px;
	min-height: 85px;
	border: 1px solid OUTLINE;
	border-radius: 5px;
	padding: 5px 2px 5px 7px;

	overflow: auto;
}

textarea.max {
	display: block;
	position: relative;
	width: calc(100% - 10px);
}

/* ******************************************************** */
/* info */
/* ******************************************************** */
.comment { /* help text */
	display: inline-block;
	margin: 3px 0px 5px;
	padding: 0px 7px;
	vertical-align: middle;
	font-size: 0.85em;
}

.ronly { /* data */
	border: 1px solid cadetblue;
	border-radius: 5px;
	padding: 0px 5px;

	min-width: 150px;
	min-height: 22px;
	line-height: 22px;

	display: inline-block;
	vertical-align: middle;
	font-size: 0.9em;
}
