/* ******************************************************** */
/* table of content */
/* ******************************************************** */
.toc {
	overflow:   auto;
	margin: 0px 0px 0.5rem;
	padding: 3px 0rem 0px;

	color: FC_TOC;
	white-space: nowrap;
}
.toc a {
	color: FC_TOC;
	text-decoration: none;
	font-weight: normal;
}
.toc a.inactive {
	color: FC_DEAD;
	background: BC_DEAD;
}

/* ******************************************************** */
/* toc hierarchy */
/* ******************************************************** */
.topic, .lev1, .lev2, .lev3, .lev4, .lev5, .lev6, .lev7, .lev8, .lev9 {
	display: block;
}

.topic {
	margin: 0px 0px 0.5rem;
	border: 1px solid OUTLINE;
	border-radius: BR_TEXT;
	padding: 3px IB_PAD 1px;

	background: BC_DROP;
	font-size: 1.2rem;
}
.lev1 {
	background-position: 5px top; padding-left: 25px;
	font-size: 1rem;
}

.lev2 { background-position: 15px top; padding-left:  35px; }
.lev3 { background-position: 25px top; padding-left:  45px; }
.lev4 { background-position: 35px top; padding-left:  55px; }
.lev5 { background-position: 45px top; padding-left:  65px; }
.lev6 { background-position: 55px top; padding-left:  75px; }
.lev7 { background-position: 65px top; padding-left:  85px; }
.lev8 { background-position: 75px top; padding-left:  95px; }
.lev9 { background-position: 85px top; padding-left: 105px; }

/* ******************************************************** */
/* folders */
/* ******************************************************** */
.dir {
	background-image: url("LOC_IMG/menus/folder.gif");
	background-repeat: no-repeat;
}
.dir a {
	text-decoration: none;
	font-weight: bold;
}

/* ******************************************************** */
/* files */
/* ******************************************************** */
.file {
	background-image: url("LOC_IMG/menus/page.gif");
	background-repeat: no-repeat;
}
.file a {
	color: FC_BODY;
}
.file a:hover {
	text-decoration: underline;
}

/* ******************************************************** */
/* properties */
/* ******************************************************** */
.sel {
	color: FC_MARK;
	background: BC_MARK;
	border-radius: BR_INP;
}

.hidden > a {
	color: FC_DEAD;
	background: BC_DEAD;
}

.redir {
}
.redir::after {
	font-weight: normal;
	color: green;
	content: " <<< ";
}

.open {
	background-position-Y: bottom;
}
.closed {
	background-position-Y: top;
}

.show {
	display: block;
}
.hide {
	display: none;
}

