/* ******************************************************** */
/* table of content */
/* ******************************************************** */
topic {
	display: block;
	color: FC_INFO;
	background: BC_INFO;
	border: 1px solid OUTLINE;
	border-radius: BR_TEXT;
	margin: 0px 0px 7px;
}
