/* ******************************************************** */
/* top navigation bar - with drop down content */
/* ******************************************************** */
.dropMenu, .subMenu {
	z-index: 150;
	display: block;

	margin: 0px 0px 2px;
	border: 1px 0px solid navy;
	border-radius: BR_TEXT;

	color: FC_INFO;
	background: linear-gradient(-3deg, BC_MENU, BC_INFO 45%);
	font-weight: bold;
}

.subMenu {
	color: FC_MARK;
	background: linear-gradient(-3deg, white, cadetblue 65%);
	border: 1px solid OUTLINE;
}

.localicon {
	display: inline-block;
	padding: 2px 10px;
}

/* ******************************************************** */
/* top navigation bar - with drop down content */
/* ******************************************************** */
.mbanner {
	position: relative;
	height: H_MENU;
}

.topMenu {
	position: absolute;
	bottom:   0px;
	width: 100%;
	margin: 0px;
	padding: 0px;

	background: rgb(15, 0, 100, 0.3);
}

.topMenu a {
	color: FC_MENU;
}
.topMenu .active {
	color: FC_INFO;
	background: BC_INFO;
}

/* ******************************************************** */
.topItem {
	display: inline-block;
	border-radius: BR_MENU BR_MENU 0px 0px;
	color: FC_MENU;
}

.topItem:hover {
	background: BC_MENU;
}
.topItem:hover .topList {
	display: block;
}

/* ******************************************************** */
.topText {
	display: inline-block;
	border-radius: BR_MENU BR_MENU 0px 0px;
	padding: 5px 12px 2px;
	font-weight: bold;
	text-shadow: 1px 1px 2px grey;
}

/* ******************************************************** */
.topList {
	z-index: 99;
	position: absolute;
	display: none;
	background: BC_DROP;
	border: 1px solid OUTLINE;
	border-top: 0px;
	border-radius: 0px 0px BR_MENU BR_MENU;
  	padding: 0px 0px 5px;
  	max-height: 50vh;
  	overflow: auto;

	color: FC_DROP;
	font-weight: normal;
}

.topList a {
	display: block;
	padding: 3px 10px;
	color: FC_BODY;
	font-weight: normal;
}

.topList a:hover {
	color: FC_MARK;
	background: BC_MARK;
}
