
/* ******************************************************** */
/* dropdown menus and other dropdown objects */
/* ******************************************************** */
.dropdown {
	display: inline-block;
	vertical-align: bottom;
}

.dropdown:hover .dropbody {
	z-index: 90;
	display: block;
}

/* ******************************************************** */
/* dropdown banner */
/* ******************************************************** */
.droptext {
}

/* ******************************************************** */
/* dropdown content */
/* ******************************************************** */
.dropbody {
	display: none;
	position: absolute;
	margin-left: -7px;
	border: 1px solid OUTLINE;
	border-radius: 7px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	padding: 3px 7px;

	max-height: 50vh;
	min-width: 160px;
	overflow: auto;
	overscroll-behavior: none;

	color: FC_DROP;
	background: BC_DROP;
	font-weight: normal;
	text-align: left;
}

.dropbody a {
	display: block;
	padding: 0px 5px;
	color: FC_DROP;
	font-weight: normal;
}
.dropbody a:hover {
	color: FC_MARK;
	background: BC_MARK;
}
.dropbody h4 {
	margin: 5px;
}
