/* ******************************************************** */
/* tool bars */
/* ******************************************************** */
.toolbar {
	z-index: 35;
	background: #e7e7e7;
	margin-bottom: 1px;
}

.btnbar {
	vertical-align: baseline;
	background: linear-gradient(-1deg, #A2EA31, forestgreen 70%);
	padding: 1px 6px 1px;
	margin-bottom: 2px;
	border-radius: 5px;
}

/* ******************************************************** */
/* menu icon */
/* ******************************************************** */
.micon {
	display: none;
}

.miconbar {
  width: 15px;
  height: 3px;
  background-color: FC_TOC;
  margin: 2px 0px;
}

/* ******************************************************** */
/* buttons in toolbars*/
/* ******************************************************** */
button.icon {
	min-height: H_LINE;
	min-width: W_MIN;
	padding: 0px 7px;
}
button.rose, .rose {
	background: linear-gradient(#FCC, snow);
}

button.selected {
	background: linear-gradient(#F0FEDB, #D1FF00);
	font-weight: bold;
}
