
/* ******************************************************** */
/* dropdown menus and other dropdown objects */
/* ******************************************************** */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown:hover .dropbody {
	z-index: 90;
	display: block;
}

/* ******************************************************** */
/* dropdown banner */
/* ******************************************************** */
.droptext {
	display: inline-block;
 	padding: 1px 7px;
}

/* ******************************************************** */
/* dropdown content */
/* ******************************************************** */
.dropbody {
	display: none;
	position: absolute;
	border: 1px solid OUTLINE;
	border-radius: BR_TEXT;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	padding: 3px;

	min-width: fit-content;
	max-width: 98%;
	max-height: 50vh;
	overflow: auto;
#	overscroll-behavior: none;

	color: FC_DROP;
	background: BC_DROP;
	font-weight: normal;
	text-align: left;
	white-space: pre;
}

.dropbody a {
	display: block;
	padding: 0px 5px;
	color: FC_DROP;
	font-weight: normal;
}
.dropbody a:hover {
	color: FC_MARK;
	background: BC_MARK;
}
.dropbody h4 {
	margin: 5px;
}
