/* ******************************************************** */
/* info cards */
/* ******************************************************** */
.chip {
	display: inline-block;
	margin: 0.5rem;
	padding: 0px;
	width: 30rem;
#	border: 1px solid OUTLINE;
	border-radius: 2.5rem;
	background: BC_TOC;
}

.chip img {
	float: left;
	margin: 0px 2.5rem 0px 0px;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
}

.chip p {
	padding: LR_PAD;
}
