/* ********************************************************
@media only screen and (orientation: landscape)
******************************************************** */
:root {
  --pad_min: 7px;
  --zoom_l: 1.5;
  --zoom_p: 3;
}

@media only screen and (max-width: 1550px) {
#	.modBody { background: orange; }
	.modToc  { border-right: 1px solid OUTLINE; }
	.modMbar { display: none; }
	.modOpts { width: calc(100% - W_TABS - W_TOC - W_BODY - 10px); }
}

@media only screen and (max-width: 1400px) {
#	.modBody { background: yellow; }
	.modToc  { width: W_MIN; border-right: 1px solid OUTLINE; }
	.modOpts { width: calc(100% - W_TABS - W_MIN - W_BODY - 10px); }
}

@media only screen and (max-width: 1250px) {
#	.modBody { background: lightgreen; }
	.colMain { width: calc(W_BODY * 0.85); }
	.modOpts { width: calc(100% - W_TABS - W_MIN - W_BODY * 0.85 - 10px); }
}

@media only screen and (max-width: 1100px) {
#	.modBody { background: green; }
	.colMain {
		width:  calc(100% / var(--zoom_l));
		height: calc(100% / var(--zoom_l));

		transform-origin: top left;
		transform: scale(var(--zoom_l));
	}

	[class^="mod"] {
		display: none;
	}
	.mobile  { display: block; }
	.mobilex { display: inline-block; }
	.joker   { display: block; }
	.titBody { padding: 0px var(--pad_min); }
	.toc     { padding: auto 25px auto; }

	.modBody {
		display:    block;
		width:      100%;
	}

	button {
		min-width:  35px;
	}
}

@media only screen and (max-width: 1100px) and (orientation: portrait) {
	.colMain  {
		width:  calc(100% / var(--zoom_p));
		height: calc(100% / var(--zoom_p));

		transform-origin: top left;
		transform: scale(var(--zoom_p));
	}
}
