/* ********************************************************
@media only screen and (orientation: landscape)
@media only screen and (min-width: 600px)

******************************************************** */

@media only screen and (max-width: 1500px) {
	.modToc  { width: W_MIN; }
	.modOpts {
		width: calc(100vw - W_TABS - W_MIN - W_MBAR - W_BODY - 10px);
	}
}

@media only screen and (max-width: 1350px) {
	.modToc  { border-right: 1px solid OUTLINE; }
	.modMbar { display: none; }
	.modOpts {
		width: calc(100vw - W_TABS - W_MIN - W_BODY - 10px);
	}
}

@media only screen and (max-width: 1250px) {
	.modBody { width: calc(W_BODY * 0.85); }
	.modOpts {
		width: calc(100vw - W_TABS - W_MIN - W_BODY * 0.85 - 10px);
	}
}

@media only screen and (min-width: 1100px) {
	.joker { display: none; }
}

@media only screen and (max-width: 1100px) {
	[class^="mod"] {
		position: absolute;
		height:   calc(100vh - 25px);
		width:    100vw;
		left:     0px;
		top:      25px;
	}

	.modTabs { display: none; }
	.modBord { display: none; }

	.modBody { z-index: 5; }

	.joker { display: block; }
}
