@charset "UTF-8";

/* ******************************************************** */
/* css default */
/* ******************************************************** */
html {
	height: 100%;
	background: BC_OPTS;
}

body {
	position: relative;
	font-family: Nunito, Verdana, Arial, Helvetica;
	font-size: F_SIZE;

	color: FC_BODY;
	background: BC_BODY no-repeat right top;

	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 100%;
}
body.print {
	margin: 25px 20px 35px;
}

/* ******************************************************** */
/* panels */
/* ******************************************************** */
.banner {
    z-index:  70;
	position: fixed;
	top:      0px;
	left:     W_TABS;
	height:   H_BANNER;
	width:    W_BODY;

	background: BC_PAGE;
	white-space: nowrap;
	padding: 0px;

	vertical-align: center;
}

.modtabs {
	position: fixed;
	top:      0px;
	left:     0px;
	min-height: 100%;
    min-width: 50px;
    max-width: 50px;

    background: BC_TABS url("CMS_URL/img/tabs/pborder.png") repeat-y right;
    padding: 0px;
    overflow: hidden;
}

.modmenu {
    z-index: 99;
	position: fixed;
	top:    H_BANNER;
	left:   W_TABS;
	height: H_MENU;
	width:  W_BODY;

	color: FC_MENU;
	background: BC_MENU;
	border: 1px solid navy;
	border-width: 1px 0px;
}

.modbody {
	overflow: auto;
	position: fixed;
	top:    calc(H_BANNER + H_MENU + 15px);
	left:   W_TABS;
	height: calc(100% - H_BANNER - H_MENU - 15px);
	width:  calc(W_BODY - 40px);

	font-size: F_BODY;
	color: FC_BODY;
	background: BC_BODY;
	padding: 0px 25px 0px 15px;
}

.modopts {
	position: fixed;
	top:    0px;
	left:   calc(W_TABS + W_BODY);
	width:  calc(100% - W_BODY - W_TABS - 50px);
	min-width: 150px;
    height: 100%;

	overflow: auto;
    background: BC_OPTS url("CMS_URL/img/opts/pborder.png") repeat-y;
	padding: 0px 25px 0px 35px;
}
