.colMain {
	float:      left;
	overflow:   auto;
	min-height: 100vh;
	width:      W_BODY;
	max-width:  W_BODY;
	background: BC_BODY;
}

/* ******************************************************** */
/* horizontal panels */
/* ******************************************************** */
.horMenu {
	z-index: 99;
	float: top;
	overflow: visible;

	background-color: white;
	background-image: url("img/banner.jpg");
	background-position: center;
	background-size: cover;

	height:    H_MENU;
	width:     100%;
	max-width: 100%;
	min-width: 300px;

	color:     FC_MENU;
}

.modBody {
	float:     top;
	overflow:  auto;
	height:    calc(100vh - H_MENU);
	width:     100%;
	min-width: 300px;
	max-width: 100%;

	background: BC_BODY;
	padding:    7px 20px 35px;
}

.titBody {
	overflow:   visble;
	width:      100%;
	padding:    1rem 20px 0px;
	background: BC_BODY;
}

.joker {
	float:      top;
	display:    none;
	padding:    0px 15px;
	min-height: 1.5rem;
	width:      100%;
	min-width:  300px;
	max-width:  100%;
	background: BC_TABS;
}

/* ******************************************************** */
/* vertical panels */
/* ******************************************************** */
.modTabs {
	float:      left;
	width:      W_TABS;
	height:     100vh;
	background: BC_PAGE url("LOC_IMG/tabs/pborder.png") repeat-y right;
}

.modBord {
 	float:      left;
 	min-width:  10px;
	height:     100vh;
	background: BC_OPTS url("LOC_IMG/opts/pborder.png") repeat-y;
}

.modOpts {
	float:    left;
	height:   100vh;
	width:    300px;
	left:     calc(W_TABS + W_BODY);
	padding:  1rem 20px 35px;
}
