
@media only screen and (max-width: 1000px) {
	.horMenu, .colMain, .modBody { width:   100%; }
	.modTabs, .modBord, .modOpts { display: none; }

	.joker {
		width:     100%;
		max-width: 100%;
 		display:   block;
	}
}

@media only screen and (orientation: portrait) and (min-width: 1001px) {
	body {
#		font-size: 2em;
#		background: orange;
#		transform: scale(2);
	}

}

