
/* ******************************************************** */
/* horizontal panels */
/* ******************************************************** */
.modMenu {
	z-index: 99;
	position: fixed;
#	background-color: grey;
	background-image: url("img/banner.png");
	background-size: cover;

	top:	0px;
	left:   W_TABS;
	height: calc(H_BANNER + H_MENU);
	width:  W_BODY;

	overflow: visible;
	border: 0px solid navy;

	color: FC_MENU;
	vertical-align: bottom;
}

/* ******************************************************** */
/* vertical panels */
/* ******************************************************** */
.modBody {
	top:	calc(H_BANNER + 15px);
	left:   W_TABS;
	height: calc(100% - H_BANNER - H_MENU - 15px);
	width:  W_BODY;
}

.modOpts {
	z-index: 1;
	overflow: auto;
	position: fixed;
	left: calc(W_TABS + W_BODY);
	width: calc(100% - W_TABS - W_BODY);
	min-width: 300px;
	height: 100%;

	color: FC_OPTS;
	background: BC_OPTS url("CMS_URL/img/opts/pborder.png") repeat-y;
}
