
/* ******************************************************** */
/* horizontal panels */
/* ******************************************************** */
.banner {
	z-index: 70;
	position: fixed;
	top: 0px;
	left:   W_TABS;
	height: H_BANNER;
	width:  W_BODY;

	background: BC_PAGE;
	white-space: nowrap;

	vertical-align: center;
}

.modMenu {
	z-index: 99;
	position: fixed;
	top:	H_BANNER;
	left:   W_TABS;
	height: H_MENU;
	width:  W_BODY;

	color: FC_MENU;
	color: black;
	background: BC_MENU;
	border: 1px solid navy;
	border-width: 1px 0px;
}

/* ******************************************************** */
/* vertical panels */
/* ******************************************************** */
.modTabs {
	top: 0px;
	left: 0px;
	min-height: 100%;
	min-width: 50px;
	max-width: 50px;
}

.modBody {
	top:	calc(H_BANNER + H_MENU + 15px);
	left:   W_TABS;
	height: calc(100% - H_BANNER - H_MENU - 15px);
	width:  W_BODY;
}

.modOpts {
	position: fixed;
	top:	0px;
	left:   calc(W_TABS + W_BODY);
	width:  calc(100% - W_BODY - W_TABS);
	min-width: 150px;
	height: 100%;
}
