@media only screen and (max-width: 950px) {
	html { transform: scale(0.70); height: calc(100% / 0.70); }
	html { transform: scale(1); height: 100%; }
	.micon { display: block; }
	.modToc { display: none; }
	.modMbar { display: none; }
	.modBody { left: W_TABS; }
	.modOpts { left: calc(W_TABS + W_BODY); }
}
