/* STATIC FILE for CK4 only: static/ck4.css /*

@charset "UTF-8";

/* ******************************************************** */
/* css default */
/* ******************************************************** */
html {
 	background: white;
	height: 100%;
}

body {
	overflow: auto;
	position: relative;
	height: 100%;

	hyphens: auto;
	font: 12pt normal normal Arial, DejaVu Sans;
	color: black;
	background: white no-repeat right top;

	margin: 0px;
	padding: 0px;
	border: 0px;
}
body.print {
	padding: 25px 20px 35px;
	width: calc(100% - 40px);
}

/* ******************************************************** */
/* container */
/* ******************************************************** */
.container {
	background: transparent;
	padding: 0px 20px 35px;
#	overflow: visible;
}

.conToc  { padding: 15px 15px 35px }
.conOpts { padding: 0px 35px 35px; }

.hedBody {
	position: sticky;
	top: 0px;
	background: white;
	padding: 0px 20px;
	width: calc(690px - 40px);
}

/* ******************************************************** */
/* vertical panels */
/* ******************************************************** */
.modTabs {
	overflow: visible;
	position: fixed;
	height: 100%;
	width: 45px;

	color: navy;
	background: rgb(238,238,238) url("/cms/img/tabs/pborder.png") repeat-y right;
}

.modToc {
	overflow: auto;
	position: fixed;
	left: 45px;
	width: 350px;
	height: 100%;

	color: navy;
	background: whitesmoke;
}

.modMbar {
	overflow: hidden;
	position: fixed;
	left: calc(45px + 350px);
	width: 70px;
	height: 100%;

	background: url("/cms/img/mbar/spirals.png") repeat-y;
}

.modBody {
	z-index: 5;
	overflow: auto;
	position: fixed;
	left: calc(45px + 350px + 70px);
	width: 690px;
	height: 100%;

	font-size: 12pt;
	color: black;
	background: white;
}
.modOpts {
	z-index: 1;
	overflow: auto;
	position: fixed;
	left: calc(45px + 350px + 70px + 690px);
	width: calc(100% - 45px - 350px - 70px - 690px);
	min-width: 300px;
	height: 100%;

	color: black;
	background: gainsboro url("/cms/img/opts/pborder.png") repeat-y;
}
/* ******************************************************** */
/* classes for common use */
/* ******************************************************** */
.nomargin {
	margin: 0px;
}
.nopad {
	padding: 0px;
}

.pre {
	max-height: 150px;
	overflow: auto;
	font-family: monospace;
	font-size: 0.75em;
	white-space: pre;
}

/* ******************************************************** */
/* backgrounds */
/* ******************************************************** */
.bg {
	background: whitesmoke;
	width: 100%;
	overflow: auto;
}

.rh {
	padding: 3px 5px 1px;
	color: snow;
	background: #05819C;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}

.rw	               { color: ; background: snow; }
.rw:nth-child(odd) { color: ;  background: #F0F0F0;  }
.rw:hover	       { color: ; background: #E6F0FF; }

.rf {
	color: ;
	background: #E9E5E5;
	vertical-align: middle;
}

/* ******************************************************** */
/* spaces */
/* ******************************************************** */
.head {
	margin-top: 12px;
	margin-bottom: 0px;
}
/* ******************************************************** */
/* flex divs */
/* ******************************************************** */
div.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

div.flexleft {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

div.flexbottom {
	display: flex;
	align-items: flex-end;
}
[contenteditable] {
	outline: 0px solid transparent;
}

[draggable] {
	display: block;
	margin: 2px 0px;
	min-width: 250px;
	text-align: left;
}

/* ******************************************************** */
/* editor styles */
/* ******************************************************** */
.filename {
	text-align: right;
	padding: 0px 5px;
	min-width: 350px;
}

.hidden {
	display: none;
}

/* ******************************************************** */
/* preview window and frame */
/* ******************************************************** */
.cold {
	overflow: auto;
	border: 1px solid #AAA;
	border-radius: 15px;
	padding: 7px 15px 25px;
	min-height: 25px;
	max-height: 500px;
}
.hot {
	overflow: auto;
	border: 1px solid red;
	border-radius: 15px;
	padding: 7px 15px 25px;
	min-height: 25px;
	max-height: 500px;
}
/* ******************************************************** */
/* standard tags */
/* ******************************************************** */
h1, h2, h3, h4, h5, h6 {
	margin: 15px 0px 7px;
	color: navy;
}
h4, hx {
	border-bottom: 1px solid;
}
h5, h6, hy {
	margin: 5px 0px 3px;

	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	text-decoration: underline;
}

hx, hy {
	display: block;
	font-size: 1em;
	color: black;
	margin-bottom: 5px;
}

p {
	margin: 3px 0px 7px;
	text-align: justify;
}

blockquote {
	margin: 3px 0px 12px;
	border: 1px solid #AAA;
	border-radius: 7px;
	padding: 5px 10px;
}

/* ******************************************************** */
/* separators */
/* ******************************************************** */
hr.pbr {
	background-color: transparent;
	border-top: 1px dashed red;
}

hr.search {
	background-color: transparent;
	border-top: 2px solid red;
#	border-bottom: 2px solid maroon;
}

/* ******************************************************** */
/* anchors */
/* ******************************************************** */
a {
	color: forestgreen;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
#	color: #9FC700;
}

a.inactive {
	color: grey;
	background: ;
	font-weight: normal;
}

a.norm {
	color: inherit;
	text-decoration: none;
	font-weight: normal;
}

/* ******************************************************** */
/* sup sub */
/* ******************************************************** */
sup, sub {
	font-size: 0.6em;
}

hr {
	border: 0px;
	padding: 0px;
	height: 1px;
	background: #AAA;
}
hr.low {
	margin: 2px 0px 3px;
}

/* ******************************************************** */
/* other */
/* ******************************************************** */
details {
	display: inline-block;
	cursor: pointer;
}
details-content {
	display: inline-block;
	margin: 0px 18px;
	padding: 3px 10px 5px;
	border: 1px solid #AAA;
	border-radius: 7px;
}
/* ******************************************************** */
/* images */
/* ******************************************************** */
img {
	margin: 0px;
	border: 0px;
	vertical-align: middle;
}
img.icon {
	vertical-align: -2px;
}
img.flag {
	border: 1px solid #AAA;
	border-radius: 5px;
}
img.rgt {
	text-align: right;
	padding-left: 25px;
}
img.lft {
	text-align: left;
	padding-right: 15px;
}

.thumb {
	display: inline-block;
	margin: 0px 5px 3px;
	width: 110px;
}

/* ******************************************************** */
/* collections */
/* ******************************************************** */
.collection {
	border: 1px solid #AAA;
	border-radius: 7px;
	max-width: 100%;
#	min-height: 430px;
	max-height: 430px;
	background-position: top;
	background-size: cover;
}

/* ******************************************************** */
/* labels */
/* ******************************************************** */
label {
	padding: 2px 10px 2px 7px;
	background: linear-gradient(snow, lightgrey);
	border: 1px solid #AAA;
	border-radius: 5px;
	cursor: pointer;
}

label.text {
	background: transparent none;
	border: 0px;
}

label.red {
	background: #FFC0CB none;
}
label.blue {
	background: #D2EDEF none;
}
label.mauve {
	background: #EBD2EB none;
}
label.upload {
	display: inline-block;
	white-space: nowrap;
	width: 300px;
}

/* ******************************************************** */
/* hidden labels for radio buttons */
/* ******************************************************** */
label.hidden {
	background: transparent none;
}


/* ******************************************************** */
/* listings */
/* ******************************************************** */
ul, ol {
	list-style-position: outside;
	margin: 7px 0px 12px;
	padding: 0px 15px;
}
ol {
	padding: 0px 20px;
}

/* ******************************************************** */
dl {
	display: block;
	border: 1px solid #AAA;
	border-radius: 10px;

	margin: 7px 0px 12px;
	padding: 7px 15px 10px;
}

dt {
	font-style: italic;
	color: navy;
}
dd {
	margin: 0px 15px 5px;
}
/* ******************************************************** */
/* table styles */
/* ******************************************************** */
table {
	margin: 0px 0px 12px;
	border: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 0px;

	font-size: 1em;
	font-weight: normal;
}

/* ******************************************************** */
/* rows */
/* ******************************************************** */
tr {
	vertical-align: top;
}

/* ******************************************************** */
/* cells */
/* ******************************************************** */
th {
	color: snow;
	background: #05819C;
	padding: 3px 5px 1px;
}

td {
	margin: 0px;
	padding: 0px 5px;
}
/* ******************************************************** */
/* simple color tags */
/* ******************************************************** */
white	{ color: white;	 }
light	{ color: lightgrey;	}
grey	{ color: grey;   }
black	{ color: black;  }

red	 { color: red;	 }
green	{ color: green;	 }
blue	{ color: navy;	 }
mauve	{ color: purple; }
maroon	{ color: maroon; }

/* ******************************************************** */
/* simple color tags */
/* ******************************************************** */
dfn {
	color: purple;
}

caps {
	font-variant: small-caps;
}

small {
	font-size: 0.75em;
}

kbd {
	display: inline-block;
	background: #EEE;
	border: 1px solid black;
	border-radius: 7px;
	padding: 1px 5px;
	min-width: 12px;

	font-size: 0.75em;
	text-align: center;
}

fnote {
	display: inline-block;
	color: green;
	text-align: center;
}

/* ******************************************************** */
/* highlighting (marker)*/
/* ******************************************************** */
markp {
	background: yellow;
	border: 0px;
	padding: 0px 5px;
}

mark, mark1, mark2, mark3, mark4, mark5 {
#	background: gold;
	border: 1px solid orange;
	border-radius: 7px;
	padding: 0px 5px;
}

mark1 { background: yellow;  }
mark2 { background: #FFE100; }
mark3 { background: #E3FF00; }
mark4 { background: #D5F7F7; }
mark5 { background: #F7D8F7; }
/* ******************************************************** */
/* lookup info */
/* ******************************************************** */
refbox {
	position: relative;
	display: inline-block;
	color: navy;

	text-decoration: underline dotted;
	text-align: left;
}

refbox.help {
	margin: -45px -7px 0px 0px;
	float: right;
	right: 0px;
}

/* ******************************************************** */
/* hover action */
/* ******************************************************** */
refbox:hover refbody {
	display: block;
}

/* ******************************************************** */
/* lookup content */
/* ******************************************************** */
refbody {
	z-index: 99;
	position: absolute;
	display: none;
	width: 275px;
	overflow: auto;

	color: black;
	background: whitesmoke;

	border: 1px solid #AAA;
	border-radius: 12px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	padding: 5px 10px 7px;

	font-weight: normal;
	font-style: normal;
	white-space: pre-wrap;
	text-align: left;
}

/* ******************************************************** */
/* help symbol */
/* ******************************************************** */
.helpbox {
	display: inline-block;
	position: relative;
	margin: -30px -7px 0px 0px;
	float: right;
	right: 0px;
}
.helpbox:hover .helpbox-content {
	display: block;
}

.helpbox-content {
	z-index: 30;
	display: none;
	position: fixed;
	right: calc(100% - 690px - 350px - 45px - 70px + 20px);
	width: calc(690px - 75px);
	max-height: 450px;
	overflow: auto;

	color: black;
	background: whitesmoke;

	border: 1px solid #AAA;
	border-radius: 7px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	padding: 0px 25px 15px;
}
/* ******************************************************** */
/* debugging, error tracing, help messages */
/* ******************************************************** */
dbg, err, msg, code, php, .confirm {
	z-index: 85;
	color: navy;
	background: whitesmoke;

	vertical-align: middle;
	display: inline-block;
	max-width: 690px;

	border: 1px solid #AAA;
	border-radius: 10px;
	margin: 0px;
	padding: 2px 7px 3px;
}
php, code, dbg {
	font-family: monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
}

dbg  { color: maroon; }
msg  { color: black;  background: rgb(255,240,230);  }
err  { color: maroon; background: ; }
hint { color: grey; background: ; font-size: 0.85em; font-style: normal; }

code {
	display: block;
	overflow: auto;
	min-height: 15px;
}

msg > ul {
	margin: 0px;
}

/* ******************************************************** */
.confirm {
	padding: 5px 12px 8px;
	display: block;
	border: 0px;
}

/* ******************************************************** */
/* err handling */
/* ******************************************************** */
trace {
	background: transparent;
	border: 0px;
	padding: 0px;
	font-size: 0.85em;
}

.err1 {
	background: white;
	border: 0px;
	margin: 5px -6px 3px;
	padding: 5px 6px 2px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-family: monospace;
	font-size: 0.75em;
	color: grey;
}

/* ******************************************************** */
/* info-button */
/* ******************************************************** */
.info {
	display: inline-block;
	color: navy;
	background: white;
	border: 1px solid #AAA;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
}

/* ******************************************************** */
/* teaser banner */
/* ******************************************************** */
.teaser {
	width: 100%;
	height: 100px;
	margin: auto;
	overflow: hidden;
	background: gainsboro;
	border-radius: 15px;
	text-align: center;
}

.fader {
	position: relative;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.fader img {
	vertical-align: middle;
	width: 1080px;
	padding: 0px;
	margin: 0px;
	margin-top: -25%;
}
.fader_x img.next {
	position: absolute;
	top: 0;
	left: 0;
}
form {
	margin: 2px 0px 20px;
}

form table {
	margin: 0px;
}

/* ******************************************************** */
/* input fields */
/* ******************************************************** */
input, select, button {
	margin: 0px;
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 0px 5px;
	overflow: auto;

	height: 22px;

	color: ;
	background: #FFFFE5;
	font-size: 14px;
	vertical-align: bottom;
}

/* ******************************************************** */
/* buttons */
/* ******************************************************** */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
	background: linear-gradient(snow, lightgrey);
	padding: 0px 15px;
	cursor: pointer;
	height: 24px;
}

input[type='button']
{
	background: linear-gradient(snow, lightgrey);
	padding: 0px 15px;
	cursor: pointer;
}

button {
	padding: 0px 9px;
	min-width: 40px;
}

/* ******************************************************** */
/* common input */
/* ******************************************************** */
input[type='text'] {}
input[type='datetime-local'] {}
input[type='file'] {}

input[type='color'] { /* color input */
	padding: 0px;
	border: 0px;
	height: 24px;
}

/* ******************************************************** */
/* check and radio */
/* ******************************************************** */
input[type='checkbox'],
input[type='radio'] {
	margin-right: 5px;
}

.cb {
	display: block;
	position: relative;
	border: 0px;
	border-radius: 5px;
	padding-left: 30px;
	height: 21px;

	background: transparent;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cb input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	border: 1px solid #AAA;
	border-radius: 5px;
	top: 0;
	left: 0;
	height: 19px;
	width: 50px;
	background: rgb(238,238,238);
#	font-size: 0.8em;
	text-align: center;
}

.checkmark:after {
	color: black;
	content: "no";
}

.container input:checked ~ .checkmark:after {
	color: white;
	content: "yes";
}
.cb input:checked ~ .checkmark {
	border: 1px solid forestgreen;
	background-color: forestgreen;
}

/* ******************************************************** */
/* combo boxes */
/* ******************************************************** */
select {
	background: rgb(238,238,238) url("/cms/core/icons/input/combodown.png") no-repeat right;
	min-width: 105px;
	height: 24px;
	cursor: pointer;

	font-family: inherit;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

option {
	line-height: 14px;
	max-height: 14px;
	padding: 0px;
}

/* ******************************************************** */
/* textareas  */
/* ******************************************************** */
textarea {
	background: white;
	max-width: calc(690px - 10px);
	min-width: 350px;
	min-height: 85px;
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 5px 2px 5px 7px;

	overflow: auto;
}

textarea.max {
	display: block;
	position: relative;
	width: calc(100% - 10px);
}

/* ******************************************************** */
/* info */
/* ******************************************************** */
.comment { /* help text */
	display: inline-block;
	margin: 3px 0px 5px;
	padding: 0px 7px;
	vertical-align: middle;
	font-size: 0.85em;
}

.ronly { /* data */
	border: 1px solid cadetblue;
	border-radius: 5px;
	padding: 0px 5px;

	min-width: 150px;
	min-height: 22px;
	line-height: 22px;

	display: inline-block;
	vertical-align: middle;
	font-size: 0.9em;
}

/* ******************************************************** */
/* sections */
/* ******************************************************** */
.selSection {
	color: navy;
	font-style: italic;
	vertical-align: bottom;

	padding-top: 12px;
}

.spacer {
	border: 0px;
}

/* ******************************************************** */
/* read only representation */
/* ******************************************************** */
.selHead {
	white-space: nowrap;
	padding: 2px 15px 3px 7px;
	width: 150px;
}
.selData {
	padding: 2px 0px 0px;
	width: 300px;
}

/* ******************************************************** */
/* ratings */
/* ******************************************************** */
.rating {
	width: 105px;
	border: 1px solid #AAA;
	border-radius: 5px;

	background: url("/cms/core/icons/input/rating.png") no-repeat top;
}

rating img {
	margin: 2px 0px;
	opacity: 100%;
}
/* ******************************************************** */
/* top navigation bar - with drop down content */
/* ******************************************************** */
.dropMenu, .subMenu {
	z-index: 150;
	display: block;

	margin: 0px 0px 2px;
	border: 1px solid navy;
	border-width: 1px 0px;
	border-radius: 7px;

	color: snow;
	background: linear-gradient(-3deg, #80BFFF, navy 45%);
	font-weight: bold;
	padding: 3px 7px 1px;
}

.localicon {
	padding: 2px 10px;
}

.subMenu {
	color: black;
	background: linear-gradient(-3deg, cadetblue, white 65%);
	border: 1px solid #AAA;
}

/* ******************************************************** */
/* top navigation bar - with drop down content */
/* ******************************************************** */
.topMenu {
	z-index: 99;
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;

	background: #80BFFF;
	background: linear-gradient(-2deg, navy, #80BFFF 50%, #80BFFF, #4D7FB2);

	font-size: 1.1em;
	font-weight: bold;
}

.topMenu a {
	color: snow;
}
.topMenu .active {
	color: snow;
	background: navy;
}

/* ******************************************************** */
.topItem {
	display: inline-block;
}
.topItem:hover .topList {
	display: block;
}

/* ******************************************************** */
.topText {
	display: inline-block;
	border: 0px;
	padding: 7px 20px;
	height: 19px;
	text-shadow: 1px 1px 2px grey;
#   border-radius: 10px 10px 0px 0px;
	margin-right: 5px;
}
.topText:hover{
	color: snow;
	background: navy;
}

/* ******************************************************** */
.topList {
	z-index: 99;
	position: fixed;
	display: none;
	color: black;
	background: rgb(238,238,238);
	font-weight: normal;
	border: 1px solid #AAA;
	border-radius: 0px 15px 15px 15px;
  	padding: 3px 10px 10px;
  	max-height: 400px;
  	overflow: auto;
}

.topList a {
	display: block;
	padding: 3px 10px;
	color: black;
	font-size: 1.15em;
	font-weight: normal;
}

.topList a:hover {
	color: black;
	background: gold;
}
/* ******************************************************** */
/* tool bars */
/* ******************************************************** */
.toolbar {
	z-index: 35;
	background: #e7e7e7;
	margin-bottom: 3px;
}

.btnbar {
	vertical-align: baseline;
	background: linear-gradient(-1deg, #A2EA31, forestgreen 70%);
	padding: 1px 6px 1px;
	margin-bottom: 2px;
	border-radius: 5px;
}

/* ******************************************************** */
/* menu icon */
/* ******************************************************** */
.micon {
	display: none;
}

.ibar {
  width: 15px;
  height: 3px;
  background-color: navy;
  margin: 2px 0px 1px;
}

/* ******************************************************** */
/* buttons in toolbars*/
/* ******************************************************** */
button.icon {
	min-height: 25px;
	min-width: 30px;
	padding: 0px 7px;
}
button.rose, .rose {
	background: linear-gradient(#FCC, snow);
}

button.selected {
	background: linear-gradient(white, snow);
	font-weight: bold;
}

/* ******************************************************** */
/* dropdown menus and other dropdown objects */
/* ******************************************************** */
.dropdown {
	display: inline-block;
}
.dropdown:hover .dropdown-content {
	z-index: 90;
	display: block;
}


/* ******************************************************** */
/* dropdown content */
/* ******************************************************** */
.dropdown-content {
	display: none;
	position: absolute;
	border: 1px solid #AAA;
	border-radius: 7px;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65);
	padding: 3px 7px;

	max-height: 375px;
	min-width: 160px;
	overflow: auto;
	overscroll-behavior: none;

	color: black;
	background: rgb(238,238,238);
	font-weight: normal;
}

.dropdown-content a {
	display: block;
	padding: 0px 5px;
	color: black;
	font-weight: normal;
}
.dropdown-content a:hover {
	color: black;
	background: gold;
}
.dropdown-content h4 {
	margin: 5px;
}
/* ******************************************************** */
/* vertical tabs */
/* ******************************************************** */
.vtab {
	display: block;
	margin: 0px 0px 5px 14px;
	border-radius: 10px 0px 0px 10px;
	border: 1px solid #AAA;
	border-right: 0px;
	padding: 15px 0px 15px 9px;
	width: 17px;

	color: black;
	background: gainsboro;

	font-weight: normal;
	text-align: middle;
}
.vtab_selected {
	padding-right: 4px;
	color: navy;
	background: whitesmoke;
	text-align: right;
}

.vertical {
	writing-mode: sideways-lr;
	text-orientation: mixed;
}

.verticalMS {
	transform: rotate(90deg);

	-webkit-transform: rotate(-90deg); 	/* Safari */
	-ms-transform: rotate(-90deg); 		/* IE */
	-o-transform: rotate(-90deg); 		/* Opera */

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* ******************************************************** */
/* horizontal tabs - single line */
/* ******************************************************** */
.regtabs {
	display: inline-block;
	overflow: hidden;
	margin: 0px;
	padding: 5px 0px;
	font-weight: bold;
	vertical-align: middle;
}

.regtabs a {
	color: black;
	background: rgb(238,238,238);
	border-radius: 0px;
#	padding: 7px 20px;
	text-shadow: 1px 1px 2px grey;
}
.regtabs a:hover {
	color: black;
	background: gold;
	font-weight: normal;
	text-decoration: none;
}
.regtabs a.active {
	color: black;
	background: gold;
}
/* ******************************************************** */
/* table of content */
/* ******************************************************** */
.toc {
	color: navy;
	background: whitesmoke;

	overflow: auto;
	line-height: 18px;
	vertical-align: middle;
	padding-bottom: 12px;

	font-size: F_MENU;
	white-space: nowrap;
}
.toc a {
	color: navy;
	text-decoration: none;
	font-weight: normal;
}
.toc a.inactive {
	color: grey;
	background: ;
}

/* ******************************************************** */
/* toc hierarchy */
/* ******************************************************** */
.lev1, .lev2, .lev3, .lev4, .lev5, .lev6, .lev7, .lev8, .lev9 {
	display: block;
}

.lev1 {
	margin: 0px 0px 10px;
	border: 1px solid #AAA;
	border-radius: 7px;
	padding: 7px 7px 3px;

	background: rgb(238,238,238);
	font-size: 1.2em;
}
.lev2 {
	font-size: 1em;
}

.lev2 { background-position:  5px top; padding-left: 25px; }
.lev3 { background-position: 15px top; padding-left: 35px; }
.lev4 { background-position: 25px top; padding-left: 45px; }
.lev5 { background-position: 35px top; padding-left: 55px; }
.lev6 { background-position: 45px top; padding-left: 65px; }
.lev7 { background-position: 55px top; padding-left: 75px; }
.lev8 { background-position: 65px top; padding-left: 85px; }
.lev9 { background-position: 75px top; padding-left: 95px; }

/* ******************************************************** */
/* folders */
/* ******************************************************** */
.dir {
	background-image: url("/cms/img/menus/folder.gif");
	background-repeat: no-repeat;
}
.dir a {
	text-decoration: none;
	font-weight: bold;
}

/* ******************************************************** */
/* files */
/* ******************************************************** */
.file {
	background-image: url("/cms/img/menus/page.gif");
	background-repeat: no-repeat;
}
.file a {
	color: black;
}
.file a:hover {
	text-decoration: underline;
}

/* ******************************************************** */
/* properties */
/* ******************************************************** */
.sel {
	color: black;
	background: gold;
	border-radius: 5px;
}

.hidden > a {
	color: grey;
	background: ;
}
/* ******************************************************** */
/* table of content */
/* ******************************************************** */
topic {
	display: block;
	color: snow;
	background: navy;
	border: 1px solid #AAA;
	border-radius: 13px;
	margin: 0px 0px 7px;
}
/* ******************************************************** */
/* info cards */
/* ******************************************************** */
.chip {
	display: inline-block;
	margin: 7px;
	padding: 0px;
	width: 500px;
	border-radius: 35px;
	background: whitesmoke;
}

.chip img {
	float: left;
	margin: 0px 35px 0px 0px;
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

.chip p {
	padding: 10px;
}

/* ******************************************************** */
@media print {
/* ******************************************************** */

@page {
	margin: 2cm 2cm 2.4cm;
	widows: 3;
	orphans: 2;
}

body.print {
	margin: 0px;
}

h1, h2 {
	page-break-after: avoid;
	color: maroon;
}

h1, h2, h3 {
	margin: 1cm 0px 0px;
}

h1 + h2 {
#	page-break-before: initial;
}

h3, h4, h5, h6 {
	page-break-after: avoid;
	border: 0px;
	text-decoration: none;
}


p {
	page-break-inside: avoid;
	widows: 2;
	orphans: 2;
}

hr.pbr {
	page-break-after: always;
	background-color: transparent;
	border-top: 0px none;
	height: 0px;
}

.helpbox {
	display: none;
}

tr, .br {
	page-break-inside: avoid;
}

/* ******************************************************** */
}
/* ******************************************************** */
@media only screen and (max-width: 1300px) {

	html {
		transform: scale(0.95);
		transform-origin: top left;
		height: calc(100% / 0.95);
	}
	.banner {  position: absolute; }
	.modmenu { position: absolute; }
}

@media only screen and (max-width: 1275px) {
	html { transform: scale(0.85); height: calc(100% / 0.85); }
}
@media only screen and (max-width: 1175px) {
	html { transform: scale(0.78); height: calc(100% / 0.78); }
}
@media only screen and (max-width: 950px) {
	html { transform: scale(0.70); height: calc(100% / 0.70); }
	html { transform: scale(1); height: 100%; }
	.micon { display: block; }
	.modToc { width: calc(690px - 200px); max-width: 75%; border-right: 1px solid #AAA; }
	.modMbar { display: none; }
	.modBody { left: 45px; }
	.modOpts { left: calc(45px + 690px); }
}

/*
@media only screen and (max-width: 975px) {
	html { transform: scale(0-65); height: calc(100% / 0.65); }
}
@media only screen and (max-width: 875px) {
	html { transform: scale(0.60); height: calc(100% / 0.60); }
}
*/
