body.print {
	overflow: auto;
	background: white;
	padding: 20px 20px 35px;
	width: 100%;
}

/* ******************************************************** */
@media print {
/* ******************************************************** */
@page {
#    size: A4 portrait;
#	widows: 3;
#	orphans: 2;
}

body.print {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	page-break-inside: avoid;
	page-break-after: avoid;
}

img {
	page-break-inside: avoid;
}

hr.pbr {
	page-break-after: always;
	background-color: transparent;
	border-top: 0px none;
	height: 0px;
}

.helpbox {
	display: none;
}

/* ******************************************************** */
}
/* ******************************************************** */
